@import 'illusion/basics';
@import 'illusion/ie';
@import 'utilities/reset';
@import 'utilities/clearfix';
@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/functions';
@import 'utilities/grid';

@import "molecules/media";

@import '../components/magnific-popup/src/css/main';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $sans;
  line-height: 1.5em;
  background: palette(turquoise, light);
  min-height: 100%;
  color: $color-main-text;
}

#wrapper {
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
  line-height: 1.25em;
  color: palette(blue, light);
}

h1 {
  font-size: 2em;
  margin-bottom: .5em;
}

p {
  margin: 0 0 1.5em;
}

strong {
  font-weight: 700;
}

a {
  color: palette(blue, light);

  &:hover,
  &:focus {
    color: palette(blue, dark);
    text-decoration: none;
  }

  &:visited {
    color: palette(purple, light);
  }
}

img {
  max-width: 100%;
  height: auto;
}

.divide {
  margin: 10px auto;
  padding: 0;
  border: none;
  outline: none;
  height: 2px;
  background: palette(turquoise, light);
  max-width: $max-width-page;
}

.margin-zero {
  margin: 0;
}

/* ==========================================================================
   Organization
   ========================================================================== */

.container__top {
  @extend %clearfix;
}

.organization {
  @extend %clearfix;
  margin-top: 15px;
  margin-bottom: 10px;
  position: relative;

  a {
    @extend %clearfix;
    display: inline-block;
    text-decoration: none;
    max-width: 100%;

    &:hover {
      color: palette(blue, light)
    }
  }

  &__logo,
  &__name {
    display: block;
    @include transition;

    @include respond-min($breakpoint-beta) {
      margin-top: 8px;
    }

    @include respond-min($breakpoint-charlie) {
      margin-top: 4px;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: url("../images/avatar.png");
    background-size: cover;

    @include respond-min($breakpoint-charlie) {
      width: 32px;
      height: 32px;
    }
  }

  &__name {
    font-weight: 300;
    color: $color-main-blue;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 15px + 24px;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: palette(turquoise);
    }

    @include respond-min($breakpoint-charlie) {
      font-size: 24px;
      line-height: 32px;
      margin-left: 15px + 32px;
    }

    span {
      font-weight: 700;
      font-size: 1.25em;
      padding-right: .5em;
    }
  }
}


/* ==========================================================================
   Search
   ========================================================================== */

.search {
  margin-bottom: 15px;
  position: relative;

  @include respond-min($breakpoint-beta) {
    margin-top: 15px;
  }

  input {
    margin: 0;
    width: 100%;
    display: block;
    padding: 5px;
    border: 1px solid palette(blue);
    color: #777;
    font-style: italic;
    font-size: 1em;
    height: 40px;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    background: palette(blue);
    color: #fff;
    font-weight: 700;

    &:before {
      content: "`";
      position: absolute;
      top: 17px;
      right: 4px;
      font-size: 34px;
    }

    &:after {
      content: "o";
      position: absolute;
      top: 2px;
      left: 11px;
      font-size: 24px;
    }
  }
}


/* ==========================================================================
   Header / Breadcrumb
   ========================================================================== */

.container__breadcrumb {
  background: palette(blue) url("../images/graphic_line.png") no-repeat right bottom;
  color: #fff;
  border-top: 4px solid palette(turquoise);
  padding-top: 20px;
  padding-bottom: 20px;

}

.container__header {
  position: relative;

  @include respond-min($breakpoint-charlie) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include respond-min($breakpoint-delta) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  li {
    display: block;
    font-size: 20px;
    line-height: 48px;
    font-weight: 300;

    &:before {
      display: inline-block;
      padding-right: 15px;
      content: ">";
      color: palette(turquoise);
      font-weight: 700;
    }

    a {
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.phone_numbers {
  margin-bottom: 15px;

  span {
    white-space: nowrap;
  }
}

.breadcrumb {

  li, .divider {
    display: inline-block;
    margin-right: 5px;
    color: palette(turquoise, light);
    font-weight: 300;
  }

  .divider {
    color: palette(turquoise);
  }

  a {
    color: #fff;
    font-weight: 400;
  }
}

.my_police {
  margin-top: 20px;
  background: rgba(palette(blue, dark), .7);
  padding: 2em;

  @include respond-min($breakpoint-charlie) {
    margin-top: 0;
  }

  &__header {
    font-family: $sans;
    color: #fff;
    font-size: 1.5em;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1em;

    span {
      font-weight: 300;
    }
  }

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
    }

    &.my_police__button {
      border-radius: 4px;
      border: 1px solid #fff;
      box-shadow: inset 0 0 1px palette(turquoise, dark);
      display: inline-block;
      padding: 10px 20px;
      background: palette(turquoise);
      color: #000;
      text-decoration: none;
      @include transition;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.my_police_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: palette(blue);
  display: none;
}


/* ==========================================================================
   Sections
   ========================================================================== */

.container__sections {
  @extend %clearfix;
  padding-top: 20px;

  h1 {
    font-size: 1.25em;
    color: palette(blue);
    margin-bottom: .25em;
  }
}


/* ==========================================================================
   News
   ========================================================================== */

.container__news {
  @extend %clearfix;
}

.news__other,
.news__featured {
  h1 {
    margin: 0;
  }
}


/* ==========================================================================
   Content
   ========================================================================== */

.container__content {
  padding-top: 20px;
  padding-bottom: 20px;

  .component.articles,
  .component.news {

    article {
      @include respond-min($breakpoint-delta) {
        max-width: 42em;
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }

    header {
      margin-bottom: 1.5em;
    }

    time {
      font-size: 1.25em;
      color: palette(blue, light);
      font-weight: 300;
    }
  }
}


/* ==========================================================================
   Sidebar
   ========================================================================== */
.sidebar section {
  padding-top: 20px;
  padding-bottom: 20px;

  @include respond-min($breakpoint-delta) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  h1 {
    font-family: $sans;
    font-weight: 300;
    color: palette(text, light);
  }

  .news_list {
    li {
      margin-bottom: .75em;

      &:before {
        display: block;
        float: left;
        content: ">";
        color: palette(turquoise);
        font-weight: 700;
      }

      a {
        display: block;
        margin-left: 1.5em;
      }
    }
  }
}


/* ==========================================================================
   Thumbs
   ========================================================================== */

.article__thumbnail {
  line-height: 0;
  display: block;
  margin-bottom: 20px;
  background: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  overflow: hidden;

  @include hover_background($padding: 4px);
}

@include respond-min($breakpoint-alpha) {
  .article__thumbnail {
    float: right;
    width: 40%;
    max-width: 200px;
    margin: 0 0 $line-height $line-height;
  }
}




/* ==========================================================================
   Copyright
   ========================================================================== */

.copyright {
  background: palette(turquoise, light);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  .copyright__menu {
    display: inline-block;
  }

  a {
    color: palette(blue);
  }

  @include respond-min($breakpoint-charlie) {

    @at-root .container__copyright {
      display: table;
      width: 100%;
    }

    &--left,
    &--right {
      display: table-cell;
      width: auto;
    }

    &--left {
      text-align: left;
      padding-right: 10px;

      a {
        margin-left: 0;
      }
    }

    &--right {
      text-align: right;
      padding-left: 10px;

      a:last-child {
        margin-right: 0;
      }
    }
  }

  a {
    display: inline-block;
    margin: 0 10px;

    &.active {
      color: palette(turquoise, dark);
      font-weight: 700;
      text-decoration: none;
    }
  }
}