/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container__top,
.container__header,
.container__content,
.breadcrumb,
.container__copyright, .media, .organization, .organization a, .container__sections, .container__news {
  *zoom: 1; }
  .container__top:before,
  .container__header:before,
  .container__content:before,
  .breadcrumb:before,
  .container__copyright:before, .media:before, .organization:before, .organization a:before, .container__sections:before, .container__news:before, .container__top:after,
  .container__header:after,
  .container__content:after,
  .breadcrumb:after,
  .container__copyright:after, .media:after, .organization:after, .organization a:after, .container__sections:after, .container__news:after {
    display: table;
    content: "";
    line-height: 0; }
  .container__top:after,
  .container__header:after,
  .container__content:after,
  .breadcrumb:after,
  .container__copyright:after, .media:after, .organization:after, .organization a:after, .container__sections:after, .container__news:after {
    clear: both; }

/**
 * Mixin to create areas that keep their ratio
 *
 * Usage:
 * @include ratio(percentage, content-element, overflow) {}
 *
 * The percentage defines the ratio. Examples:
 * 1:1 = 100%
 * 2:1 = 50%
 * 4:3 = 75%
 * 16:9 = 56.25%
 *
 * The content element is the first child element to place the content in.
 * Default is: div
 *
 * The default overflow is auto but set to hidden when prefered
 *
 */
/**
 * Mixin for transitions
 */
/**
 * Image hovers
 */
.container__top,
.container__header,
.container__content,
.breadcrumb,
.container__copyright {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px; }

.news__other .media__image {
  width: 28.20513%;
  float: left;
  margin-left: 0; }
.news__other .media__content {
  width: 64.10256%;
  float: left;
  margin-left: 7.69231%; }

.news__featured .media__image {
  width: 28.20513%;
  float: left;
  margin-left: 0; }
.news__featured .media__content {
  width: 64.10256%;
  float: left;
  margin-left: 7.69231%; }

.organization {
  width: 46.15385%;
  float: left;
  margin-left: 0; }

.search {
  width: 46.15385%;
  float: left;
  margin-left: 7.69231%; }

.section {
  width: 46.15385%;
  float: left; }
  .section:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .section:nth-child(2n + 2) {
    margin-left: 53.84615%;
    margin-right: -100%;
    clear: none; }

.news__other .media {
  width: 46.15385%;
  float: left; }
  .news__other .media:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .news__other .media:nth-child(2n + 2) {
    margin-left: 53.84615%;
    margin-right: -100%;
    clear: none; }

.news__featured .media__image {
  width: 22.22222%;
  float: left;
  margin-left: 0; }
.news__featured .media__content {
  width: 74.07407%;
  float: left;
  margin-left: 3.7037%; }

.organization {
  width: 65.4321%;
  float: left;
  margin-left: 0; }

.search {
  width: 30.8642%;
  float: left;
  margin-left: 3.7037%; }

.section {
  width: 30.8642%;
  float: left; }
  .section:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .section:nth-child(3n + 2) {
    margin-left: 34.5679%;
    margin-right: -100%;
    clear: none; }
  .section:nth-child(3n + 3) {
    margin-left: 69.1358%;
    margin-right: -100%;
    clear: none; }

.quick_links {
  width: 65.4321%;
  float: left;
  margin-left: 0; }

.my_police {
  width: 30.8642%;
  float: left;
  margin-left: 3.7037%; }

.sidebar {
  width: 30.8642%;
  float: left;
  margin-left: 3.7037%; }

.component {
  width: 65.4321%;
  float: left;
  margin-left: 0; }

.news__featured {
  width: 48.14815%;
  float: left;
  margin-left: 0; }
  .news__featured .media__image,
  .news__featured .media__content {
    width: 100%;
    float: left;
    margin-left: 0; }

.news__other {
  width: 48.14815%;
  float: left;
  margin-left: 3.7037%; }
  .news__other .media {
    width: 100%;
    float: left; }
    .news__other .media:nth-child(1n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: none; }
  .news__other .media.media {
    clear: left; }

.articles {
  width: 65.4321%;
  float: left;
  margin-left: 0; }

.news__featured {
  width: 48.14815%;
  float: left;
  margin-left: 0; }
  .news__featured .media__image {
    width: 46.15385%;
    float: left;
    margin-left: 0; }
  .news__featured .media__content {
    width: 46.15385%;
    float: left;
    margin-left: 7.69231%; }

.news__other {
  width: 48.14815%;
  float: left;
  margin-left: 3.7037%; }
  .news__other .media {
    width: 46.15385%;
    float: left; }
    .news__other .media:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .news__other .media:nth-child(2n + 2) {
      margin-left: 53.84615%;
      margin-right: -100%;
      clear: none; }

.media {
  margin-top: 10px;
  margin-bottom: 10px; }

.media__title {
  font-size: 1em;
  font-size: 1.25em;
  margin-top: .5em;
  margin-bottom: .5em; }

.media__image {
  position: relative;
  width: 100%; }
  .media__image:before {
    content: "";
    display: block;
    padding-top: 75%; }
  .media__image__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden; }
  .media__image img {
    width: 100%; }

.media__image__inner {
  background: #8ac7cb url("../images/avatar--white.png") no-repeat center;
  background-size: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .media__image__inner:before {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: " ";
    width: 100%;
    background: rgba(38, 51, 140, 0);
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .media__image__inner:after {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    content: attr(data-content);
    text-align: center;
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .media__image__inner:hover:before {
    background: rgba(38, 51, 140, 0.8);
    top: 0;
    bottom: 0; }
  .media__image__inner:hover:after {
    top: 50%;
    margin-top: -.75em; }

.news__other .media__image__inner {
  font-size: .8125em; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #cccccc; }
    .mfp-preloader a:hover {
      color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before, .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after,
  .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before,
  .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444; }
  .mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure {
    /* The shadow behind the image */ }
    .mfp-img-mobile .mfp-figure:after {
      top: 0;
      bottom: 0; }
    .mfp-img-mobile .mfp-figure small {
      display: inline;
      margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  background: #d7e2e0;
  min-height: 100%;
  color: #2c2c2c; }

#wrapper {
  background: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  line-height: 1.25em;
  color: #3142b4; }

h1 {
  font-size: 2em;
  margin-bottom: .5em; }

p {
  margin: 0 0 1.5em; }

strong {
  font-weight: 700; }

a {
  color: #3142b4; }
  a:hover, a:focus {
    color: #1b2464;
    text-decoration: none; }
  a:visited {
    color: #6c3b7f; }

img {
  max-width: 100%;
  height: auto; }

.divide {
  margin: 10px auto;
  padding: 0;
  border: none;
  outline: none;
  height: 2px;
  background: #d7e2e0;
  max-width: 1280px; }

.margin-zero {
  margin: 0; }

/* ==========================================================================
   Organization
   ========================================================================== */
.organization {
  margin-top: 15px;
  margin-bottom: 10px;
  position: relative; }
  .organization a {
    display: inline-block;
    text-decoration: none;
    max-width: 100%; }
    .organization a:hover {
      color: #3142b4; }
  .organization__logo, .organization__name {
    display: block;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-top: 8px;
    margin-top: 4px; }
  .organization__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: url("../images/avatar.png");
    background-size: cover;
    width: 32px;
    height: 32px; }
  .organization__name {
    font-weight: 300;
    color: #26338c;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 39px;
    border-bottom: 1px solid transparent;
    font-size: 24px;
    line-height: 32px;
    margin-left: 47px; }
    .organization__name:hover {
      border-bottom-color: #8ac7cb; }
    .organization__name span {
      font-weight: 700;
      font-size: 1.25em;
      padding-right: .5em; }

/* ==========================================================================
   Search
   ========================================================================== */
.search {
  margin-bottom: 15px;
  position: relative;
  margin-top: 15px; }
  .search input {
    margin: 0;
    width: 100%;
    display: block;
    padding: 5px;
    border: 1px solid #26338c;
    color: #777;
    font-style: italic;
    font-size: 1em;
    height: 40px; }
  .search button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    background: #26338c;
    color: #fff;
    font-weight: 700; }
    .search button:before {
      content: "`";
      position: absolute;
      top: 17px;
      right: 4px;
      font-size: 34px; }
    .search button:after {
      content: "o";
      position: absolute;
      top: 2px;
      left: 11px;
      font-size: 24px; }

/* ==========================================================================
   Header / Breadcrumb
   ========================================================================== */
.container__breadcrumb {
  background: #26338c url("../images/graphic_line.png") no-repeat right bottom;
  color: #fff;
  border-top: 4px solid #8ac7cb;
  padding-top: 20px;
  padding-bottom: 20px; }

.container__header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .container__header li {
    display: block;
    font-size: 20px;
    line-height: 48px;
    font-weight: 300; }
    .container__header li:before {
      display: inline-block;
      padding-right: 15px;
      content: ">";
      color: #8ac7cb;
      font-weight: 700; }
    .container__header li a {
      color: #fff; }
      .container__header li a:hover {
        text-decoration: none; }

.phone_numbers {
  margin-bottom: 15px; }
  .phone_numbers span {
    white-space: nowrap; }

.breadcrumb li, .breadcrumb .divider {
  display: inline-block;
  margin-right: 5px;
  color: #d7e2e0;
  font-weight: 300; }
.breadcrumb .divider {
  color: #8ac7cb; }
.breadcrumb a {
  color: #fff;
  font-weight: 400; }

.my_police {
  margin-top: 20px;
  background: rgba(27, 36, 100, 0.7);
  padding: 2em;
  margin-top: 0; }
  .my_police__header {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 1.5em;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1em; }
    .my_police__header span {
      font-weight: 300; }
  .my_police a {
    color: #fff; }
    .my_police a:hover {
      text-decoration: none; }
    .my_police a.my_police__button {
      border-radius: 4px;
      border: 1px solid #fff;
      box-shadow: inset 0 0 1px #00637c;
      display: inline-block;
      padding: 10px 20px;
      background: #8ac7cb;
      color: #000;
      text-decoration: none;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .my_police a.my_police__button:hover {
        text-decoration: underline; }

.my_police_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #26338c;
  display: none; }

/* ==========================================================================
   Sections
   ========================================================================== */
.container__sections {
  padding-top: 10px;
  padding-top: 20px; }
  .container__sections h1 {
    font-size: 1.25em;
    color: #26338c;
    margin-bottom: .25em; }

/* ==========================================================================
   News
   ========================================================================== */
.news__featured {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-top: 0;
  padding-bottom: 20px; }
  .news__featured h1 {
    font-size: 1.125em;
    margin: 1em 0 .5em 0;
    font-size: 1.25em;
    margin-top: 0;
    margin-top: 1em;
    margin-top: 0; }
  .news__featured p {
    margin: 0; }

.news__other h1 {
  font-size: 1em;
  margin: 0;
  font-size: 1.125em; }

/* ==========================================================================
   Content
   ========================================================================== */
.container__content {
  padding-top: 20px;
  padding-bottom: 20px; }
  .container__content .component.articles article,
  .container__content .component.news article {
    max-width: 42em;
    padding-top: 30px;
    padding-bottom: 30px; }
  .container__content .component.articles header,
  .container__content .component.news header {
    margin-bottom: 1.5em; }
  .container__content .component.articles time,
  .container__content .component.news time {
    font-size: 1.25em;
    color: #3142b4;
    font-weight: 300; }

/* ==========================================================================
   Sidebar
   ========================================================================== */
.sidebar section {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px; }
  .sidebar section h1 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #464646; }
  .sidebar section .news_list li {
    margin-bottom: .75em; }
    .sidebar section .news_list li:before {
      display: block;
      float: left;
      content: ">";
      color: #8ac7cb;
      font-weight: 700; }
    .sidebar section .news_list li a {
      display: block;
      margin-left: 1.5em; }

/* ==========================================================================
   Thumbs
   ========================================================================== */
.article__thumbnail {
  line-height: 0;
  display: block;
  margin-bottom: 20px;
  background: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  overflow: hidden; }
  .article__thumbnail:before {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 4px;
    left: 0;
    display: block;
    content: " ";
    width: 100%;
    background: rgba(38, 51, 140, 0);
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .article__thumbnail:after {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    content: attr(data-content);
    text-align: center;
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .article__thumbnail:hover:before {
    background: rgba(38, 51, 140, 0.8);
    top: 4px;
    bottom: 4px; }
  .article__thumbnail:hover:after {
    top: 50%;
    margin-top: -.75em; }

.article__thumbnail {
  float: right;
  width: 40%;
  max-width: 200px;
  margin: 0 0 1.5em 1.5em; }

/* ==========================================================================
   Copyright
   ========================================================================== */
.copyright {
  background: #d7e2e0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  .copyright .copyright__menu {
    display: inline-block; }
  .copyright a {
    color: #26338c; }
  .container__copyright {
    display: table;
    width: 100%; }
  .copyright--left, .copyright--right {
    display: table-cell;
    width: auto; }
  .copyright--left {
    text-align: left;
    padding-right: 10px; }
    .copyright--left a {
      margin-left: 0; }
  .copyright--right {
    text-align: right;
    padding-left: 10px; }
    .copyright--right a:last-child {
      margin-right: 0; }
  .copyright a {
    display: inline-block;
    margin: 0 10px; }
    .copyright a.active {
      color: #00637c;
      font-weight: 700;
      text-decoration: none; }
