/**
 * represents 399px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 400px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 599px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 600px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 767px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 768px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1023px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1024px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1199px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1200px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1439px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1440px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1599px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1600px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * The base font size for your project
 *
 * @group setup
 */
/**
 * A standard 1.5em baseline
 *
 * @group setup
 */
/**
 * A standard 1.5em spacing
 *
 * @group setup
 */
/**
 * Mixin for setting columns with vendor prefixes
 *
 * @param {number} $count - The amount of columns
 *
 * @group Basics
 */
/**
 * Mixin for setting columns with vendor prefixes
 *
 * @param {number} $count - The gap between columns
 *
 * @group Basics
 */
/**
 * Mixin for setting columns with vendor prefixes
 *
 * @param {string} $rule - The rule between columns
 *
 * @group Basics
 */
/**
 * Mixin for setting clearfix to an element
 *
 * @group Basics
 */
/**
 * Hacky CSS to set inline-block and zoom to IE7
 *
 * @group Basics
 */
/**
 * Set outlines for focus on an element
 *
 * @group Basics
 */
/**
 * Set border-radius to element including vendor prefixes
 *
 * @param {string} $radius - desired border-radius (shorthand)
 *
 * @group Basics
 */
/**
 * Set box-sizing to element including vendor prefixes
 *
 * @param {string} $boxmodel - desired box-model (shorthand)
 *
 * @group Basics
 */
/**
 * Set box-shadow to element including vendor prefixes
 *
 * @param {string} $shadow - desired box-shadow (shorthand)
 *
 * @group Basics
 */
/**
 * Set transition to element including vendor prefixes
 *
 * @param {string} $transition - desired transition (shorthand)
 *
 * @group Basics
 */
/**
 * Set transition-delay to element including vendor prefixes
 *
 * @param {string} $transition-delay - desired transition-delay either in s or ms
 *
 * @example
 * transition-delay(.2s);
 *
 * @example
 * transition-delay(.50ms);
 *
 * @group Basics
 */
/**
 * Set transition-duration to element including vendor prefixes
 *
 * @param {string} $transition-duration - desired transition-duration either in s or ms
 *
 * @example
 * transition-duration(.2s);
 *
 * @example
 * transition-duration(.50ms);
 *
 * @group Basics
 */
/**
 * Set opacity with IE filter
 *
 * @param {number} $opacity - between 0 and 1
 *
 * @example
 * opacity(.2);
 *
 * @group Basics
 */
/**
 * Set font-size, font-weight and line-height in one go
 *
 * @param {string} $size ($base-font-size) - font-size
 * @param {string} $weight (normal) - font-weight
 * @param {string} $lineHeight ($baseLineHeight) - line-height
 *
 * @example
 * font-shorthand(1em, 600, 1.5em);
 *
 * @group Basics
 */
/**
 * Set input[placeholder] color with vendor prefixes
 *
 * @param {string} $color (#999) - The font color
 *
 * @group Basics
 */
/**
 * Visually hide elements while still preserving screen reader visibility
 *
 * @group Basics
 */
/**
 * Visually show elements when they have a visually-hidden style
 *
 * @group Basics
 */
/**
 * Set form styling
 *
 * @param {string} $text-color (#555) - The font color
 * @param {string} $border-color (#ccc) - The border color
 * @param {string} $background-color (#f5f5f5) - The background color
 *
 * @group Basics
 */
/**
 * Reset properties of an element
 *
 * @param {string} $margin (true) - Set to false if you want to exclude
 * @param {string} $padding (true) - Set to false if you want to exclude
 * @param {string} $list-style (true) - Set to false if you want to exclude
 * @param {string} $border (true) - Set to false if you want to exclude
 * @param {string} $background (true) - Set to false if you want to exclude
 *
 * @example scss
 * reset($padding: false);
 * // Will not set padding to 0
 *
 * @example scss
 * reset($padding: false, $background: false);
 * // Will not set padding to '0'
 * // Will not set background to 'none'
 *
 * @group Reset
 */
/**
 * mixin you can extend on for clearfixing elements
 *
 * @group Mixins
 */
/**
 * Returns "@content" in either a media querie or regular
 * based on if $fix-mqs is set and to what number
 *
 * @param {string} $width - The width unit for single media queries
 * @param {string} $type (min) - Either "min", "max" or "range"
 * @param {string} $width--max (false) - The max width when using the "range" type
 *
 * @example scss
 * breakpoint(600px) { ... }
 * // will return @media screen and (min-width: 600px) { ... }
 *
 * @example scss
 * breakpoint(800px, max) { ... }
 * // will return @media screen and (max-width: 800px) { ... }
 *
 * @example scss
 * breakpoint(600px, range, 800px) { @content }
 * // will return @media screen and (min-width: 600px) and (max-width: 800px) { ... }
 *
 * @group Breakpoint
 */
/**
 * Returns "@content" based on if $fix-mqs is set and to what number
 *
 * @example scss
 * old-ie { ... }
 *
 * @group Breakpoint
 */
/**
 * Media object
 *
 * @group molecules
 */
.media:before, .media:after,
.media_responsive:before,
.media_responsive:after {
  display: table;
  content: " ";
  line-height: 0; }

.media:after,
.media_responsive:after {
  clear: both; }

.media .media__visual {
  float: left;
  margin-right: 1em; }
  .media .media__visual--right {
    float: right;
    margin-right: 0;
    margin-left: 1em; }
  .media .media__visual img {
    display: block; }

.media_responsive .media__visual,
.media_responsive .media__visual--right {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: center; }
  .media_responsive .media__visual img,
  .media_responsive .media__visual--right img {
    display: inline-block; }

@media screen and (min-width: 25em) {
  .media_responsive .media__visual {
    float: left;
    margin-right: 1em; }
    .media_responsive .media__visual--right {
      float: right;
      margin-right: 0;
      margin-left: 1em; }
    .media_responsive .media__visual img {
      display: block; } }

.media__body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }

/**
 * Set box-sizing: border-box to * element (all elements) when included to the project
 *
 * @group setup
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Mixin to create areas that keep their ratio
 *
 * Usage:
 * @include ratio(percentage, content-element, overflow) {}
 *
 * The percentage defines the ratio. Examples:
 * 1:1 = 100%
 * 2:1 = 50%
 * 4:3 = 75%
 * 16:9 = 56.25%
 *
 * The content element is the first child element to place the content in.
 * Default is: div
 *
 * The default overflow is auto but set to hidden when prefered
 *
 */
/**
 * Mixin for transitions
 */
/**
 * Image hovers
 */
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before, .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after,
  .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before,
  .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure {
    /* The shadow behind the image */ }
    .mfp-img-mobile .mfp-figure:after {
      top: 0;
      bottom: 0; }
    .mfp-img-mobile .mfp-figure small {
      display: inline;
      margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

.select2-container-active .select2-choice {
  box-shadow: none !important; }

.select2-choice {
  line-height: 25px !important;
  padding: 0 !important;
  background: none !important;
  background-image: none !important;
  border: 0px none !important;
  border-radius: 0 !important; }
  .select2-choice .select2-arrow {
    display: none !important; }

.select2-search input {
  font-size: 18px !important;
  line-height: 1.38888888em !important;
  padding-top: 4px !important;
  padding-left: 4px !important;
  padding-bottom: 4px !important;
  background: none !important; }

.select2-default {
  color: #555555 !important; }

.backtrace {
  text-align: center;
  margin: 3em 0; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container__top:before,
.container__header:before,
.container__content:before,
.breadcrumb:before,
.container__copyright:before, .card .card__box:before, .media:before, .pagination:before, .skip .container__skip:before, .organization:before, .organization a:before, .container__navigation:before, .container__news:before, .component:before, .component.article article:before,
.component.news article:before, .container__top:after,
.container__header:after,
.container__content:after,
.breadcrumb:after,
.container__copyright:after, .card .card__box:after, .media:after, .pagination:after, .skip .container__skip:after, .organization:after, .organization a:after, .container__navigation:after, .container__news:after, .component:after, .component.article article:after,
.component.news article:after {
  display: table;
  content: " ";
  line-height: 0; }

.container__top:after,
.container__header:after,
.container__content:after,
.breadcrumb:after,
.container__copyright:after, .card .card__box:after, .media:after, .pagination:after, .skip .container__skip:after, .organization:after, .organization a:after, .container__navigation:after, .container__news:after, .component:after, .component.article article:after,
.component.news article:after {
  clear: both; }

.categories_wrapper li {
  position: relative; }
  .categories_wrapper li:before {
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 0;
    overflow: hidden;
    padding-top: 1.5em;
    vertical-align: middle; }
  .categories_wrapper li a {
    display: inline-block;
    margin-left: 1.5em; }

.container__top,
.container__header,
.container__content,
.breadcrumb,
.container__copyright {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-left: 2em;
  padding-right: 2em; }

.news__other .media__image {
  width: 28.2051282051%;
  float: left;
  margin-left: 0; }

.news__other .media__content {
  width: 64.1025641026%;
  float: left;
  margin-left: 7.6923076923%; }

.press.articles .media__image,
.news.articles .media__image {
  width: 30.8641975309%;
  float: left;
  margin-left: 0; }

.press.articles .media__content,
.news.articles .media__content {
  width: 65.4320987654%;
  float: left;
  margin-left: 3.7037037037%; }

.organization {
  width: 46.1538461538%;
  float: left;
  margin-left: 0; }

.search {
  width: 46.1538461538%;
  float: left;
  margin-left: 7.6923076923%; }

.navigation__item {
  width: 46.1538461538%;
  float: left; }
  .navigation__item:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .navigation__item:nth-child(2n + 2) {
    margin-left: 53.8461538462%;
    margin-right: -100%;
    clear: none; }

.news__other .media {
  width: 46.1538461538%;
  float: left; }
  .news__other .media:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .news__other .media:nth-child(2n + 2) {
    margin-left: 53.8461538462%;
    margin-right: -100%;
    clear: none; }

.news__featured .media__image {
  width: 22.2222222222%;
  float: left;
  margin-left: 0; }

.news__featured .media__content {
  width: 74.0740740741%;
  float: left;
  margin-left: 3.7037037037%; }

.organization {
  width: 65.4320987654%;
  float: left;
  margin-left: 0; }

.search {
  width: 30.8641975309%;
  float: left;
  margin-left: 3.7037037037%; }

.navigation__item {
  width: 30.8641975309%;
  float: left; }
  .navigation__item:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .navigation__item:nth-child(3n + 2) {
    margin-left: 34.5679012346%;
    margin-right: -100%;
    clear: none; }
  .navigation__item:nth-child(3n + 3) {
    margin-left: 69.1358024691%;
    margin-right: -100%;
    clear: none; }

.component {
  width: 65.4320987654%;
  float: left;
  margin-left: 0; }

.component--no-sidebar {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

.sidebar {
  width: 30.8641975309%;
  float: left;
  margin-left: 3.7037037037%; }

.news__featured .media__image {
  width: 30.8641975309%;
  float: left;
  margin-left: 0; }

.news__featured .media__content {
  width: 65.4320987654%;
  float: left;
  margin-left: 3.7037037037%; }

.news__other .media {
  width: 48.1481481481%;
  float: left; }
  .news__other .media:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .news__other .media:nth-child(2n + 2) {
    margin-left: 51.8518518519%;
    margin-right: -100%;
    clear: none; }

.news.articles article,
.press.articles article {
  width: 48.1481481481%;
  float: left; }
  .news.articles article:nth-child(2n + 1),
  .press.articles article:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .news.articles article:nth-child(2n + 2),
  .press.articles article:nth-child(2n + 2) {
    margin-left: 51.8518518519%;
    margin-right: -100%;
    clear: none; }

.news__featured {
  width: 65.4320987654%;
  float: left;
  margin-left: 0; }
  .news__featured .media__image {
    width: 30%;
    float: left;
    margin-left: 0; }
  .news__featured .media__content {
    width: 65%;
    float: left;
    margin-left: 5%; }

.news__other {
  width: 30.8641975309%;
  float: left;
  margin-left: 3.7037037037%; }
  .news__other .media {
    width: 100%;
    float: left; }
    .news__other .media:nth-child(1n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: none; }
  .news__other .media.media {
    clear: left; }

.news.articles .media__image {
  width: 30.8641975309%;
  float: left;
  margin-left: 0; }

.news.articles .media__content {
  width: 65.4320987654%;
  float: left;
  margin-left: 3.7037037037%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body *:focus {
  outline: 3px solid #ffcc32; }

body {
  min-height: 100%;
  background: #d7e2e0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  color: #2c2c2c; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  vertical-align: bottom;
  font-weight: 600; }

h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 1.2em;
  font-size: 1.875em;
  line-height: 1.2em;
  font-size: 2.25em;
  line-height: 1em; }

h2 {
  font-size: 1.375em;
  line-height: 1.09090909090909em;
  margin-bottom: 1.09090909090909em;
  font-size: 1.5em;
  line-height: 1.2em;
  margin-bottom: 1.125em; }

h3, .attachments {
  font-size: 1.25em;
  line-height: 1.09090909090909em;
  margin-bottom: 1.09090909090909em;
  font-size: 1.125em;
  line-height: 1em;
  margin-bottom: 1em; }

h4, .table--openinghours caption, .container__navigation h2 {
  font-size: 1.125em;
  line-height: 1.2em;
  margin-bottom: 1.2em;
  font-size: 1.125em;
  line-height: 1.09090909090909em;
  margin-bottom: 1.09090909090909em; }

h5 {
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: 1.2em; }

h6, .media__title {
  font-size: 1em;
  line-height: 1.33333333333333em;
  margin-bottom: 1.33333333333333em; }

p {
  margin: 0 0 1.5em;
  line-height: 1.5em; }

a {
  color: #3142b4; }
  a:hover, a:focus {
    color: #1b2464; }
  a:visited {
    color: #6c3b7f; }

strong {
  font-weight: 700; }

img {
  max-width: 100%;
  height: auto; }

th {
  text-align: left;
  font-weight: 600; }

th, td {
  padding: 3px 0; }

article ul {
  margin-bottom: 1.5em; }
  article ul li {
    list-style: circle;
    margin-left: 1.5em; }

.button {
  font-size: 18px;
  font-weight: 300;
  border: 0px none;
  padding: 8px 16px 6px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #FFF;
  text-decoration: none;
  box-shadow: 0 2px 0 #bfc1c3; }
  .button:hover, .button:focus, .button:active, .button.active, .button.disabled, .button[disabled], .button.pseudo-class-hover, .button.pseudo-class-active, .button.pseudo-class-disabled {
    background-color: #4a5bce; }
  .button:hover, .button.pseudo-class-hover, .button:focus, .button:active, .button.pseudo-class-active {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear; }
  .button.disabled, .button[disabled], .button.pseudo-class-disabled {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .button:visited {
    color: #2c2c2c; }

button.button,
input[type="submit"].button {
  *padding-top: 3px;
  *padding-bottom: 3px; }
  button.button::-moz-focus-inner,
  input[type="submit"].button::-moz-focus-inner {
    padding: 0;
    border: 0; }

.button--large {
  padding: 10px 16px;
  font-size: 1.125em; }

.button--link,
.button--link:active,
.button--link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.button--link {
  border-color: transparent;
  cursor: pointer;
  color: #3142b4;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.button--link:hover,
.button--link:focus {
  color: #1b2464;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent; }

.button--link[disabled]:hover,
.button--link[disabled]:focus {
  color: #333;
  text-decoration: none; }

.button--primary {
  background-color: #00823C;
  color: #FFF;
  box-shadow: 0 2px 0 #00692f; }
  .button--primary:hover, .button--primary:focus, .button--primary:active, .button--primary.active, .button--primary.disabled, .button--primary[disabled], .button--primary.pseudo-class-hover, .button--primary.pseudo-class-active, .button--primary.pseudo-class-disabled {
    color: #FFF;
    background-color: #00692f; }
  .button--primary:visited {
    color: #FFF; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #eee;
  width: 100% !important;
  margin-bottom: 1.5em; }
  table th, table td {
    padding: 0.75em; }
  table caption {
    font-size: 1.20em;
    text-align: left;
    margin-bottom: 1em; }

.table {
  max-width: 100%;
  width: 100%;
  border: 0 none;
  /* Hide table headers */ }
  .table tr {
    display: block;
    padding: 0.75em 0.75em 0; }
  .table th, .table td {
    display: block;
    border: none;
    padding: 0 0 0.75em 0; }
  .table thead tr {
    display: none; }

.table {
  border: 0 none; }
  .table tr {
    display: table-row;
    padding: 0; }
  .table th,
  .table td {
    display: table-cell !important;
    line-height: 1.5em;
    text-align: left;
    vertical-align: top;
    padding: 0.75em; }
  .table th {
    font-weight: bold; }
  .table thead tr {
    display: table-row; }
  .table thead th {
    vertical-align: bottom; }
  .table thead tr th,
  .table thead tr td {
    border-top: 0; }

.table--striped thead tr {
  border-bottom: 1px solid #eee; }

.table--striped tbody tr {
  border-bottom: 1px solid #eee; }

.table--striped tbody tr:last-of-type {
  border-bottom: 0 none; }

.table--striped tbody > tr:nth-child(even) {
  background-color: #f9f9f9; }

.table--openinghours tr {
  padding: 0.5em 0.75em 0; }

.table--openinghours td {
  padding: 0 0 0.5em 0; }

.table--openinghours tbody td:nth-child(1) {
  font-weight: bold; }

.table--openinghours tbody td:nth-child(n+2) {
  display: block; }

.table--openinghours tfoot td {
  padding-top: 1em;
  text-align: center; }

.table--openinghours {
  display: table;
  clear: both;
  width: 100%; }
  .table--openinghours caption {
    text-align: left;
    margin-top: 1.5em; }
  .table--openinghours td:first-child {
    width: 33% !important; }

.table--openinghours th,
.table--openinghours td {
  padding: 0.5em; }

.table--openinghours tbody td:nth-child(1) {
  text-align: right; }

.cards {
  list-style: none;
  margin: 0;
  padding: 0; }

.card {
  text-align: center;
  margin-bottom: 1.5em; }
  .card img {
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #f6f6f6; }
  .card .card__box {
    display: block;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 4px; }
  .card a.card__box {
    text-decoration: none; }
    .card a.card__box .card__name {
      text-decoration: underline; }
  .card a.card__box:hover,
  .card a.card__box:focus {
    background-color: #d7e2e0;
    border-color: #3142b4;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25); }

.card__metadata {
  display: block;
  padding: 0.75em;
  width: 100%; }

.card__name {
  font-size: 18px;
  margin-bottom: 0.375em;
  display: block; }

.card__date,
.card__place {
  display: block;
  color: #2c2c2c; }

.card--horizontal .card__box {
  display: table;
  width: 100%; }

.card--horizontal .card__image,
.card--horizontal .card__metadata {
  display: table-cell;
  vertical-align: middle; }

.card--horizontal .card__image {
  margin-right: 10px;
  border-right: 1px solid #eee; }
  .card--horizontal .card__image img {
    display: block;
    max-width: 110px; }

.card--horizontal .card__metadata {
  width: 100%; }

.card--horizontal {
  text-align: left; }
  .card--horizontal a:hover img {
    border-bottom: 0px none; }
  .card--horizontal img {
    border-radius: 4px 0 0 4px;
    border-bottom: 0px none; }

/* ==========================================================================
   A media container for news
   ========================================================================== */
.media {
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

.media__title {
  margin: 0;
  font-size: 1.25em;
  line-height: 1.2em; }

.media__content p {
  margin: 0.75em 0 0; }

.media__image {
  position: relative;
  width: 100%; }
  .media__image:before {
    content: "";
    display: block;
    padding-top: 75%; }
  .media__image__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden; }
  .media__image img {
    width: 100%; }

.media__image__inner {
  background: #8ac7cb url("../images/avatar--white.png") no-repeat center;
  background-size: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .media__image__inner:before {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: " ";
    width: 100%;
    background: rgba(38, 51, 140, 0);
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .media__image__inner:after {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    content: attr(data-content);
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .media__image__inner:hover:before {
    background: rgba(38, 51, 140, 0.8);
    top: 0;
    bottom: 0; }
  .media__image__inner:hover:after {
    top: 50%;
    margin-top: -.75em; }

.news__other .media__image__inner {
  font-size: .8125em; }

#wrapper {
  background: #fff; }

.nowrap {
  white-space: nowrap; }

.divide {
  margin: 0.6875em auto 1.5em;
  padding: 0;
  border: none;
  outline: none;
  height: 0.125em;
  background: #d7e2e0;
  max-width: 1280px; }
  .divide--large {
    margin: 1.9375em auto 2em; }

.form {
  margin-bottom: 20px; }

.form__group {
  margin-bottom: 30px; }

.form__label,
.form__input {
  font-size: 18px;
  line-height: 1.38888888em;
  width: 100%; }

.form__label {
  display: block;
  padding-bottom: 4px; }

.form__input {
  padding: 4px;
  border: 1px solid #bfc1c3;
  width: 50%; }

.form__input--numeric {
  width: 6em; }

.has-error .form__label {
  color: #a94442; }

.has-error .form__input,
.has-error .select2-default {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-error .form__input:focus,
  .has-error .select2-default:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }

.has-error .form__feedback {
  color: #a94442; }

.margin-zero {
  margin: 0; }

/* ==========================================================================
   Thumbs
   ========================================================================== */
.article__thumbnail {
  line-height: 0;
  display: block;
  margin-bottom: 20px;
  background: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  overflow: hidden; }
  .article__thumbnail:before {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 4px;
    left: 0;
    display: block;
    content: " ";
    width: 100%;
    background: rgba(38, 51, 140, 0);
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .article__thumbnail:after {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    content: attr(data-content);
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .article__thumbnail:hover:before {
    background: rgba(38, 51, 140, 0.8);
    top: 4px;
    bottom: 4px; }
  .article__thumbnail:hover:after {
    top: 50%;
    margin-top: -.75em; }

.article__thumbnail {
  float: right;
  width: 40%;
  max-width: 200px;
  margin: 0 0 1.5em 1.5em; }

.pagination {
  clear: both;
  padding: 1.5em 0 0 0; }
  .pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%; }
  .pagination ul > li {
    display: inline; }
  .pagination ul > li > a,
  .pagination ul > li > span {
    float: left;
    padding: 0.3em 1em;
    text-decoration: underline;
    background-color: #eee;
    border: 1px solid #ccc;
    color: #2c2c2c; }
  .pagination ul > li > a:hover,
  .pagination ul > li > a:focus {
    text-decoration: none;
    background-color: #26338c;
    border-color: #1b2464;
    color: #fff; }
  .pagination ul > .active > a,
  .pagination ul > .active > span,
  .pagination ul > .active > a:hover,
  .pagination ul > .active > a:focus {
    color: #2c2c2c;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    background-color: #fff;
    border-color: #ccc; }
  .pagination ul > .disabled > span,
  .pagination ul > .disabled > a,
  .pagination ul > .disabled > a:hover,
  .pagination ul > .disabled > a:focus {
    color: #eee;
    background-color: transparent;
    cursor: default; }
  .pagination .pagination__previous {
    float: left; }
  .pagination .pagination__next {
    float: right; }
  .pagination .pagination__offset {
    display: none; }

.pagination {
  text-align: center; }
  .pagination ul {
    width: auto;
    border: 1px solid #ccc; }
  .pagination ul > li > a {
    border: 0 none;
    border-right: 1px solid #ccc; }
  .pagination ul > li:last-child a {
    border-right: 0 none; }
  .pagination .pagination__next,
  .pagination .pagination__previous {
    float: none; }
  .pagination .pagination__offset {
    display: inline; }

.search button {
  background: #26338c url("../images/icon--search.png") no-repeat static center;
  background: transparent url("../images/icon--search@2x.png") center center/50% 50% no-repeat; }

.container__breadcrumb .breadcrumb .divider {
  background: #26338c url("../images/icon--arrow--blue.png") no-repeat center; }
  .container__header li:before {
    background: #26338c url("../images/icon--arrow--blue--large.png") no-repeat center; }
  .categories_wrapper li:before {
    background: #26338c url("../images/icon--arrow--white--large.png") no-repeat center; }

.container__breadcrumb .breadcrumb .divider {
  background: transparent url("../images/icon--arrow@2x.png") center center/7px 12px no-repeat; }
  .container__header li:before, .categories_wrapper li:before {
    background: transparent url("../images/icon--arrow--large@2x.png") center center/10px 16px no-repeat; }

.categories_wrapper li {
  margin-bottom: 0.75em; }

.text--muted {
  color: #6f777b; }

.text--small {
  font-size: .85em; }

.text--center {
  text-align: center; }

.text--nowrap {
  white-space: nowrap; }

/* ==========================================================================
   The (hidden) skip link on top of the document
   ========================================================================== */
.skip {
  background: #1b2464; }
  .skip .container__skip {
    max-width: 1280px;
    margin: 0 auto; }
  .skip a {
    display: block;
    float: left;
    padding: 0 0.75em;
    color: #fff;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s; }
    .skip a:focus {
      margin: 0.75em;
      height: 1.5em;
      overflow: visible; }
    .skip a:visited {
      color: #fff; }

/* ==========================================================================
   Organization
   ========================================================================== */
.organization {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  height: 2em;
  position: relative; }
  .organization a {
    display: inline-block;
    text-decoration: none;
    max-width: 100%; }
    .organization a:hover .organization__name, .organization a:focus .organization__name {
      border-bottom-color: #8ac7cb; }
  .organization__logo, .organization__name {
    display: block;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .organization__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    background: url("../images/avatar.png");
    background-size: cover; }
  .organization__name {
    font-weight: 300;
    color: #26338c;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 2.25em;
    line-height: 1.4375em;
    border-bottom: 1px solid transparent;
    font-size: 1.25em;
    line-height: 1.5em; }
    .organization__name span {
      font-weight: 700;
      font-size: 1.25em;
      padding-right: 0.5em; }

/* ==========================================================================
   Search
   ========================================================================== */
.search {
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative; }
  .search input {
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
    display: block;
    padding: 5px;
    border: 1px solid #26338c;
    color: #2c2c2c;
    font-size: 1em;
    min-height: 24px;
    width: calc(100% - 47px); }
  .search button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    display: block;
    font-size: 1em;
    height: 36px;
    width: 36px;
    color: #fff;
    font-weight: 700;
    background-color: #26338c; }

/* ==========================================================================
   Header / Breadcrumb
   ========================================================================== */
.container__breadcrumb {
  background: #26338c;
  background: repeating-linear-gradient(135deg, #26338c, #26338c 10px, #243084 10px, #243084 20px);
  color: #FFF;
  border-top: 0.25em solid #8ac7cb;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  padding-top: 1em;
  padding-bottom: 1em; }
  .container__breadcrumb .breadcrumb li, .container__breadcrumb .breadcrumb .divider {
    display: inline-block;
    margin-right: 5px;
    color: #d7e2e0;
    font-weight: 300; }
  .container__breadcrumb .breadcrumb .divider {
    display: inline-block;
    width: 8px;
    height: 0;
    overflow: hidden;
    padding-top: 1.5em;
    vertical-align: middle; }
  .container__breadcrumb .breadcrumb a {
    color: #fff;
    font-weight: 400; }

.container__header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-top: 1.5em;
  padding-bottom: 1.5em; }
  .container__header li {
    display: block;
    font-size: 1.125em;
    line-height: 1.2em;
    font-weight: 300;
    padding-top: .6em;
    padding-bottom: .6em;
    position: relative;
    font-size: 1.25em; }
    .container__header li:before {
      position: absolute;
      top: .5em;
      left: 0;
      display: inline-block;
      content: " ";
      width: 10px;
      height: 0;
      overflow: hidden;
      padding-top: 1.5em;
      vertical-align: middle; }
    .container__header li a {
      color: #fff;
      padding-left: 1.5em;
      display: inline-block; }
      .container__header li a:hover {
        text-decoration: none; }

.phone_numbers {
  margin-bottom: 0.75em; }
  .phone_numbers span {
    white-space: nowrap; }

/* ==========================================================================
   Navigation
   ========================================================================== */
.container__navigation {
  padding-top: 0.75em; }
  .container__navigation h2 {
    color: #26338c;
    margin-bottom: 0.54545454545455em; }

.navigation__item h2 {
  font-size: 19px; }

.navigation__item p {
  font-size: 15px; }

/* ==========================================================================
   News
   ========================================================================== */
.news__featured {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-top: 0;
  padding-bottom: 20px; }
  .news__featured h1 {
    font-size: 1.125em;
    font-size: 1.25em;
    font-size: 1.375em;
    font-size: 1.5em; }

.news__other h1 {
  font-size: 1em;
  font-size: 1.125em; }

.attachments {
  margin-top: 0.54545454545455em; }

body.news.articles .media,
body.press.articles .media {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 2px solid #d7e2e0;
  padding-bottom: 0;
  border: none; }

body.news.articles h1,
body.press.articles h1 {
  margin-top: 1.5em;
  margin-bottom: 0;
  margin-top: 0; }

body.news.articles time,
body.press.articles time {
  font-size: 1em;
  margin: 0.6em 0 0; }

/* ==========================================================================
   Content
   ========================================================================== */
.container__content {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-top: 2.25em; }

.component.article article,
.component.news article {
  max-width: 42em; }

.component.article header,
.component.news header {
  margin-bottom: 1.5em; }

.component.article time,
.component.news time {
  display: block;
  font-size: 1.25em;
  line-height: 1.2em;
  color: #3142b4;
  font-weight: 300; }

/* ==========================================================================
   Copyright
   ========================================================================== */
.copyright {
  background: #d7e2e0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  .copyright .copyright__menu {
    display: inline-block; }
  .copyright a {
    color: #26338c; }
  .container__copyright {
    display: table;
    width: 100%; }
  .copyright--left, .copyright--right {
    display: table-cell;
    width: auto; }
  .copyright--left {
    text-align: left;
    padding-right: 10px; }
    .copyright--left a {
      margin-left: 0; }
  .copyright--right {
    text-align: right;
    padding-left: 10px; }
    .copyright--right a:last-child {
      margin-right: 0; }
  .copyright a {
    display: inline-block;
    margin: 0 5px; }
    .copyright a.active {
      color: #00637c;
      font-weight: 700;
      text-decoration: none; }

/* ==========================================================================
   Sidebar
   ========================================================================== */
.sidebar {
  border-top: 6px solid #8ac7cb;
  margin-top: 20px; }
  .sidebar h1 {
    font-size: 24px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #464545; }

.adr {
  margin-bottom: 1.5em; }

.is-hidden {
  display: none; }

.grid-row .column--one-half {
  width: 48.1481481481%;
  float: left;
  margin-left: 3.7037037037%; }

.grid-row .column--one-half:first-of-type {
  width: 48.1481481481%;
  float: left;
  margin-left: 0; }
