@import 'susy';

.container__top,
.container__header,
.container__content,
.breadcrumb,
.container__copyright {
  @extend %clearfix;
  margin-right: auto;
  margin-left: auto;
  max-width: $max-width-page;
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}

// Default
.news__other {
  .media__image {
    @include span(first 2 of 6);
  }

  .media__content {
    @include span(4 of 6);
  }
}

// Alpha
@include respond-min($breakpoint-alpha) {
  .news__featured {
    .media__image {
      @include span(first 2 of 6);
    }

    .media__content {
      @include span(4 of 6);
    }
  }
}

// Beta
@include respond-min($breakpoint-beta) {

  .organization {
    @include span(first 3 of 6);
  }

  .search {
    @include span(3 of 6);
  }

  .section {
    @include gallery(3 of 6);
  }

  .news__other {
    .media {
      @include gallery(3 of 6)
    }
  }
}


// Charlie
@include respond-min($breakpoint-charlie) {

  .organization {
    @include span(first 8 of 12);
  }

  .search {
    @include span(4 of 12);
  }

  .section {
    @include gallery(4 of 12);
  }

  .quick_links {
    @include span(first 8 of 12);
  }

  .my_police {
    @include span(4 of 12);
  }

  .sidebar {
    @include span(4 of 12);
  }

  .component {
    @include span(first 8 of 12)
  }

  .news__featured {
    @include span(first 6 of 12);

    .media__image,
    .media__content {
      @include span(first 1 of 1);
    }
  }

  .news__other {
    @include span(6 of 12);

    .media {
      @include gallery(1 of 1);
    }

    .media.media {
      clear: left;
    }
  }
}

// Delta
@include respond-min($breakpoint-delta) {
  .articles {
    @include span(first 8 of 12)
  }

  .news__featured {
    @include span(first 6 of 12);

    .media__image {
      @include span(first 3 of 6);
    }

    .media__content {
      @include span(3 of 6);
    }
  }

  .news__other {
    @include span(6 of 12);

    .media {
      @include gallery(3 of 6);
    }
  }
}