// Clearing floats
%clearfix {
  @include clearfix();
}

%white--arrow {
  position: relative;

  &:before {
    display: block;
    content:  " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 0;
    overflow: hidden;
    padding-top: 1.5em;
    vertical-align: middle;
    @extend %icon--arrow--white--large;
  }

  a {
    display: inline-block;
    margin-left: 1.5em;
  }
}