.select2-container-active .select2-choice {
  box-shadow: none !important;
}

.select2-choice {
  line-height: 25px !important;

  padding: 0 !important;
  background: none !important;
  background-image: none !important;
  border: 0px none !important;
  border-radius: 0 !important;

  .select2-arrow {
    display: none !important;
  }
}

.select2-search input {
  font-size: $font-size-large !important;
  line-height: $line-height-input !important;
  padding-top: 4px !important;
  padding-left: 4px !important;
  padding-bottom: 4px !important;
  background: none !important;
}

.select2-default {
  color: #555555 !important;
}
