.adr {
  margin-bottom: $spacing;
}

@include breakpoint($breakpoint-charlie, max) {
  .grid-row {
    .column {
      margin-bottom: $grid-padding * 2;
    }

    .column:last-of-type {
      margin-bottom: 0px;
    }
  }
}

@include breakpoint($breakpoint-charlie) {
  .grid-row {
    .column--one-half {
      @include span(6 of 12);
    }

    .column--one-half:first-of-type {
      @include span(first 6 of 12);
    }
  }
}
