// Colors
// -------------------------
$color-main-text:       #2c2c2c;
$color-main-blue:       #26338c;
$color-main-turquoise:  #8ac7cb;
$color-main-orange:     #db5c1e;

$color-sub-purple:      #5d336e;
$color-sub-yellow:      #ffcc32;

$palettes: (
  text: (
    base:   $color-main-text,
    light:  lighten($color-main-text, 10%)
  ),
  blue: (
    base:   $color-main-blue,
    light:  lighten($color-main-blue, 10%),
    x-light:  lighten($color-main-blue, 20%),
    dark:   darken($color-main-blue, 10%)
  ),
  turquoise: (
    base:  $color-main-turquoise,
    light: #d7e2e0,
    dark: #00637c
  ),
  orange: (
    base:  $color-main-orange,
    light: lighten($color-main-orange, 10%),
    dark: darken($color-main-orange, 10%)
  ),
  purple: (
    base:  $color-sub-purple,
    light:  lighten($color-sub-purple, 5%)
  ),
  yellow: (
    base:  $color-sub-yellow
  )
);

@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}







// Fonts
// -------------------------
$sans: "Open Sans", Helvetica, Arial, sans-serif;
$serif: "Roboto Slab", Georgia, "Times New Roman", Times, serif;


// Transition
// -------------------------
$default-transition: all .2s ease-in-out;


// Widths
// -------------------------
$max-width-page: 1280px;

// Spacing
$spacing-xxs: .75em;              // 12px based on 16px
$spacing-xs: 1em;                 // 16px based on 16px
$spacing-s: 1.25em;               // 20px based on 16px
$spacing: 1.5em;                  // 24px based on 16px
$spacing-l: 2em;                  // 32px based on 16px
$spacing-xl: 3em;                 // 48px based on 16px
$one-px: 1em/16;                  // 1px based on 16px

// Breakpoints
// -------------------------
$breakpoint-alpha:      25em;     // 400px
$breakpoint-beta:       37.5em;   // 600px  Small tablets
$breakpoint-charlie:    48em;     // 768px  Portrait bigger tablets
$breakpoint-delta:      64em;     // 1024px Landscape bigger tablets
$breakpoint-echo:       80em;     // 1200px Laptops
$breakpoint-foxtrot:    90em;     // 1440px Desktop
$breakpoint-golf:       100em;    // 1600px Extra wide

$font-size: 16px;
$font-family: Helvetica, sans-serif;
$line-height: 1.5em;

$gutter-width: 3em;
$grid-padding: 20px;

// Susy grid
$susy: (
  gutters: $gutter-width/4em,
  gutter-position: before,
  container: $max-width-page
);