body {
  padding-left: 0;
  padding-right: 0;
  background-color: lighten($grayLighter, 3%);
}

html { font-size:100.01%; }

h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }

h1, h2, h3 {
  font-weight: normal; line-height: 24px;
}

figure {
  margin: 0;
}

.nowrap {
  white-space: nowrap;
}

.highlight {
  background-color: yellow;
}

.text--strong {
  color: $blue;
  font-weight: bold;
}
.text--small {
  font-size: 0.9em;
  @extend .muted;
}

.page-header {
  margin-bottom: 0px;
  border: 0 none;
}

.separator--below {
  border-bottom: 1px solid $grayLighter;
  padding-bottom: $gridGutterWidth;
  margin-bottom: 14px;
}

// Select2
.bigdrop {
  width: 100%;
}

article {
  @extend .separator--below;
}

#wrap {
  background-color: $white;
}

.container-header .row-fluid .span3,
.container-header .slogan,
.container-header .is-hidden,
.container-breadcrumb,
.container-banner,
.container-footer,
.container-content .sidebar,
.container-content.police .sticky,
.container-copyright .copyright {
  display: none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container-content {
  padding-left: 20px;
  padding-right: 20px;
}

.container-header {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.container-content {
  padding-top: 10px;
  margin-bottom: $gridGutterWidth;

  &.police {
    .contact {
      margin-left: 0;
      border: 0 none;
      padding: 0;
    }
    article {
      border: 0 none !important;
      padding-bottom: 0 !important;
    }
  }
}

.container-copyright {
  padding: 3px 20px;
  text-align: center;
  border-top: 1px solid darken($grayLighter, 7%);
  font-size: $fontSizeSmall;
}