@include respond-min(998px) {
  .container-fluid {
    width: $gridRowWidth;
    margin: 0 auto;
  }

  #wrap {
    border-left: 1px solid darken($grayLighter, 7%);
    border-right: 1px solid darken($grayLighter, 7%);
    border-bottom: 1px solid darken($grayLighter, 7%);
    @include border-radius(0 0 5px 5px);
  }
}

//
// Menu is not collapsed
// --------------------------------------------------
//
// Responsive: Tablet to desktop
// --------------------------------------------------
@media (min-width: $navbarCollapseDesktopWidth) and (max-width: 979px) {
    .container {
        width: $gridRowWidth768 + 38px;
    }

    .section-header {
        .span3 {
            float: none;
            width: 100%;
            text-align: center;
        }

        .span9 {
            float: none;
            width: 100%;
            margin: 0;
            margin-top: 20px;
        }
    }

    .container-content.police {
        .span3 {
            width: 352px;
        }
    }
}

@include respond-min($navbarCollapseWidth) {
  /* Customize the navbar links to be fill the entire space of the .navbar */
  .navbar .navbar-inner {
    padding: 0;
  }
  .navbar .nav {
    margin: 0;
    display: table;
  }
  .navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
  }
  .navbar .nav li a {
    text-align: center;
  }
  .navbar .nav li:first-child a {
    border-left: 0;
  }
  .navbar .nav li:last-child a {
    border-right: 0;
  }
}

//
// Menu is collapsed
// --------------------------------------------------
@media (max-width: $navbarCollapseWidth) {
    body {
        padding-left: 0;
        padding-right: 0;
        background-color: lighten($grayLighter, 3%);
    }

    .section-header {
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;

        .span3 {
            display: none;
        }

        .navbar {
          width: 100%;
          background-color: $navbarBackgroundHighlight;
          position:relative;
          display:inline-block;

          .navbar__logo {
              display: block;
          }

          .navbar__handle {
            display:block;
            cursor:pointer;
            position:absolute;
            top:0;
            right:0;
            background:$navbarBackground url(../img/nav.svg) no-repeat center center;
            background-size:18px;
            height:50px;
            width:50px;
            border-left: 1px solid $blue;
          }

          .navbar-inner {
            @include border-radius(0);
            border-top: 0 none;
            border-left: 0 none;
            border-right: 0 none;
            margin-right: 0;
            min-height: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 50px;

            .nav {
              margin: 0;
              text-align:left;
              border-top: 1px solid $blue;

              &.is-hidden {
                display: none;
                visibility: hidden;
              }

              li {
                width: 100%;
                *display:inline;
                zoom:1;
                position:relative;
              }

              a {
                display:block;
                border-bottom: 1px solid $blue;
                padding: 13px 15px;
                font-weight: bold;
                color: $navbarLinkColor;
              }
            }
          }
        }
    }

    .container-content {
        &.news,
        &.police {
            .thumbnail {
                float: none;
                text-align: center;
                width: 100%;
                margin: 0 0 10px;
            }
        }

        .component {
            .column--triple { @include column-count(2); }
            .column--quad { @include column-count(2); }
        }
    }

    .section-banner {
        display: none;
    }

    .container-media {
        text-align: center;
        ul {
            margin-top: 10px;
            li {
                display: inline;
            }
        }
    }

    .container-copyright {
        text-align: center;
    }

    // Responsive table
    // ------------------
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border-top: 1px solid #DDD;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-top: 0 none !important;
        position: relative;
    }

    td:first-of-type {
        font-size: 1.15em;
    }
}
