@import "utils";
@import "variables-custom";

@import "bootstrap";
@import "bootstrap-overrides";
@import "mixins";

@import "icons";

@import "modules/navs";

@import "../../bootstrap/stylesheets/validation.css";

@import "blocks/article";
@import "blocks/banner";
@import "blocks/table";
@import "blocks/navs";
@import "blocks/pagination";
@import "blocks/lists";
@import "blocks/breadcrumbs";

html { font-size:100.01%; }

h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }

h1, h2, h3 {
  font-weight: normal; line-height: 24px;
}

.page-header {
  margin-bottom: 0px;
  border: 0 none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.nowrap {
  white-space: nowrap;
}

.highlight {
  background-color: yellow;
}

.text--strong {
  color: $blue;
  font-weight: bold;
}
.text--small {
  font-size: 0.9em;
  @extend .muted;
}

.separator--below {
  border-bottom: 1px solid $grayLighter;
  padding-bottom: $gridGutterWidth;
  margin-bottom: 14px;
}

.container-header,
.container-banner,
.container-breadcrumb,
.container-content,
.container-footer {
  padding-left: 20px;
  padding-right: 20px;
}

#wrap {
  background-color: $white;
}

.container-header  {
  margin-bottom: 20px;

  .text--strong {
    font-size: $fontSizeLarge;
  }

  .span3 {
    .logo {
      padding-top: 26px;
      display: block;
      text-decoration: none;
      color: $linkColor;

      img {
        width: 160px;
        vertical-align: bottom;
        margin-left: 10px;
      }

      span {
        margin-left: 60px;
        margin-top: 3px;
        display: block;
      }
    }
  }

  .navbar {
    margin-bottom: 0;

    .navbar__logo {
      display: none;
    }
  }

  .slogan {
    margin: 25px 0 10px;
    display: block;
    text-align: center;
  }
}

.container-content {
  padding-top: 10px;

  margin-bottom: $gridGutterWidth;

  .sidebar {
    margin-top: 20px;

    .sidebar__element {
      border-bottom: 1px solid $grayLighter;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
  }

  .box {
    border-left: 1px solid $grayLighter;

    padding: 0 18px;
    margin-top: 20px;
    @include border-radius(5px);

    ul {
      margin-bottom: 0;
    }

    .well {
      box-shadow: none;
      border: 0 none;
    }
  }
}

.container-footer {
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: lighten($grayLighter, 3%);
  border-top: 1px solid darken($grayLighter, 7%);

  @include border-radius(0 0 5px 5px);
}

.container-copyright {
  font-size: $fontSizeSmall;
  padding: 3px 20px;

  .copyright {
    text-align: right;
  }
}

// MEDIA QUERIES
// ------------------
@import "bootstrap-responsive";
@import "responsive";