$body: #F0F0F0;
$blue: #004FA3;
$orange: #DE791C;
$cyan: #9CC5C8;
$cool-gray: #807C81;

$cyanLight: lighten($cyan, 20%);
$cyanLighter: lighten($cyan, 24%);

$color103: #CAB23D;
$color123: #FFCA46;
$color130: #F8973D;
$color202: #900133;
$color282: #021B55;
$color313: #00ACBA;
$color308: #006379;
$color451: #A1A17F;
$color454: #E7E4CD;
$color461: #FBF1BD;
$color485: #EE2F2E;
$color525: #5D326A;
$color805: #F8AAA8;
$color5425: #6E96A7;
$color5455: #D6E2DF;