$bodyBackground:        $grayLighter;

$textColor: 			$grayDarker;

$sansFontFamily:        Helvetica, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

$baseFontSize:          14px;
$baseLineHeight:        22px;

$linkColor:             $blue;

$iconSpritePath:          "../img/glyphicons-halflings.png";
$iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";

// Navbar
// -------------------------
$navbarCollapseWidth:             767px;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;

$navbarHeight:                    32px;
$navbarBackgroundHighlight:       lighten($blue, 12%);
$navbarBackground:                lighten($blue, 8%);
$navbarBorder:                    darken($navbarBackground, 16%);

$navbarText:                      $white;
$navbarLinkColor:                 $white;
$navbarLinkColorHover:            $white;
$navbarLinkColorActive:           $white;
$navbarLinkBackgroundHover:       lighten($blue, 12%);
$navbarLinkBackgroundActive:      darken($navbarBackground, 8%);

$navbarBrandColor:                $navbarLinkColor;

$gridColumnWidth:         50px;
$gridGutterWidth:         30px;

$fluidGridColumnWidth:    percentage($gridColumnWidth/$gridRowWidth);
$fluidGridGutterWidth:    percentage($gridGutterWidth/$gridRowWidth);