body.com_fora #panel-content {
  background-color: whitesmoke;
}

.well {
  min-height: 20px;
  padding: 10px;
}

.well .well__content {
  padding: 10px;
  border: 1px solid #e4e4e4;
  background: #FFF;
}

.comments .comment {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.comments .comment__header {
  color: gray;
}
