a {
  color: $color-link;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: $color-link-hover;
  text-decoration: underline;
}

a:visited {
  color: $color-link-visited;
}

// Anchors don't have an 'href' property
a:not([href]) {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}