body {
  font-family: $font-family;
  line-height: $line-height;
  color: $color-text;
  background-color: $color-background-body;
  margin: 0;
}

@include breakpoint($breakpoint-charlie) {
  body {
    font-size: 0.9375em;
  }
}