body {
    margin: 0;
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    color: $textColor;
    background-color: $bodyBackground;
    padding-left: 0;
    padding-right: 0;
}