body {
  font-family: $baseFontFamily;
  line-height: $baseLineHeight;
  color: $textColor;
  background-color: $bodyBackground;
  margin: 0;
}

@include respond-min($breakpoint-beta) {
  body {
    font-size: 0.9375em;
  }
}