body {
    font-family: $baseFontFamily;
    @include rem(font-size, 1);
    @include rem(line-height, $base-line-height);
    color: $textColor;
    background-color: $bodyBackground;
    margin: 0;
}