// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
    margin: ($baseLineHeight / 2) 0;
    font-family: $headingsFontFamily;
    font-weight: normal;
    line-height: 24px;
    color: $headingsColor;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
    small {
        font-weight: normal;
        line-height: 1;
        color: $grayLight;
    }
    a {
        text-decoration: none;
    }
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}