// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 ($line-height / 2) 0;
  line-height: 1.25em;
  font-weight: normal;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    line-height: 1;
    color: $grayLight;
  }
}

h1 {
  font-size: 1.666666667em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}