//
// Typography
// --------------------------------------------------

// Body text
// -------------------------

p {
    margin: 0 0 $baseLineHeight / 2;
}

// Emphasis & misc
// -------------------------

// Ex: 14px base font * 85% = about 12px
small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

cite {
    font-style: normal;
}

// Utility classes
.muted {
    color: $gray;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
    margin: ($baseLineHeight / 2) 0;
    font-family: $headingsFontFamily;
    font-weight: $headingsFontWeight;
    line-height: $baseLineHeight;
    color: $headingsColor;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
    small {
        font-weight: normal;
        line-height: 1;
        color: $grayLight;
    }
}

h1,
h2,
h3 {
    line-height: $baseLineHeight * 2;
}

h1 {
    font-size: $baseFontSize * 2.75;
}

// ~38px
h2 {
    font-size: $baseFontSize * 2.25;
}

// ~32px
h3 {
    font-size: $baseFontSize * 1.75;
}

// ~24px
h4 {
    font-size: $baseFontSize * 1.25;
}

// ~18px
h5 {
    font-size: $baseFontSize;
}

h6 {
    font-size: $baseFontSize * 0.85;
}

// ~12px

h1 small {
    font-size: $baseFontSize * 1.75;
}

// ~24px
h2 small {
    font-size: $baseFontSize * 1.25;
}

// ~18px
h3 small {
    font-size: $baseFontSize;
}

h4 small {
    font-size: $baseFontSize;
}

// Page header
// -------------------------

.page-header {
    padding-bottom: ($baseLineHeight / 2) - 1;
    margin: $baseLineHeight 0 ($baseLineHeight * 1.5);
    border-bottom: 1px solid $grayLighter;
}

// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
    padding: 0;
    margin: 0 0 $baseLineHeight / 2 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

li {
    line-height: $baseLineHeight;
}

// MISC
// ----

// Horizontal rules
hr {
    margin: $baseLineHeight 0;
    border: 0;
    border-top: 1px solid $hrBorder;
    border-bottom: 1px solid $white;
}