//
// Typography
// --------------------------------------------------

// Body text
// -------------------------

p {
    margin: 0 0 $baseLineHeight 0;
}

// Emphasis & misc
// -------------------------

small {
    font-size: $fontSizeSmall;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

cite {
    font-style: normal;
}

// MISC
// ----

// Horizontal rules
hr {
    margin: $baseLineHeight 0;
    border: 0;
    border-top: 1px solid $hrBorder;
    border-bottom: 1px solid $white;
}