//
// Typography
// --------------------------------------------------

// Body text
// -------------------------

p {
    margin: 0 0 $baseLineHeight / 2;
}

// Emphasis & misc
// -------------------------

// Ex: 14px base font * 85% = about 12px
small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

cite {
    font-style: normal;
}

// Utility classes
.muted {
    color: $gray;
}

.text-center {
    text-align: center;
}

// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
    padding: 0;
    margin: 0 0 $baseLineHeight / 2 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

li {
    line-height: $baseLineHeight;
}

// MISC
// ----

// Horizontal rules
hr {
    margin: $baseLineHeight 0;
    border: 0;
    border-top: 1px solid $hrBorder;
    border-bottom: 1px solid $white;
}