//
// Typography
// --------------------------------------------------

// Body text
// -------------------------

p {
  margin: 0 0 $line-height 0;
}

// Emphasis & misc
// -------------------------

small {
  font-size: 0.85em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

// MISC
// ----

// Horizontal rules
hr {
  margin: $line-height 0;
  border: 0;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $white;
}