.container-header .row-fluid .span3,
.container-header .slogan,
.container-breadcrumb,
.container-banner,
.container-footer,
.container-quicklinks,
.container-content .sidebar,
.container-copyright .copyright,
.is-hidden,
.hidden-phone {
  display: none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container-content {
  padding-left: 20px;
  padding-right: 20px;
}

.container-header {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.container-content {
  padding-top: $gridGutterWidth;
  margin-bottom: $gridGutterWidth;

  &.police {
    .contact__inner {
      margin-left: 0;
      border: 0 none;
      padding: 0;


    }
    article {
      border: 0 none !important;
      padding-bottom: 0 !important;
    }
  }
}

.container-copyright {
  padding: 3px 20px;
  text-align: center;
  border-top: 1px solid darken($grayLighter, 7%);
  font-size: $fontSizeSmall;
}

.container-footer {
  .media {
    margin-top: 0;
    margin-bottom: $gridGutterWidth / 1.5;
  }
}