.container__header .slogan,
.container__content .sidebar,
.is-hidden,
.hidden-phone {
  display: none;
}

.container__header {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.container__content {
  padding-top: $grid-padding;
  padding-bottom: $grid-padding;
  padding-left: 20px;
  padding-right: 20px;

  &.homepage {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

.container__copyright {
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  border-top: 1px solid darken($grayLighter, 7%);
  font-size: $fontSizeSmall;

  a {
    text-decoration: none;
  }
}

.container__footer {
  @include clearfix();

  padding-left: 20px;
  padding-right: 20px;
  padding-top: $gutter-width / 2;
  background-color: $wellBackground;
  border-top: 1px solid darken($grayLighter, 7%);

  .container__quicklinks {
    div {
      margin-bottom: $grid-padding;
    }
  }

  .footer__districts {
    margin-bottom: $grid-padding;
  }
}

.container__footer_menu {
  border-top: 1px solid darken($grayLighter, 7%);

  ul {
    margin: 0;

    li a {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
