.container__header .slogan,
.container__content .sidebar,
.is-hidden,
.hidden-phone {
  display: none;
}

.container__header {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.container__breadcrumb {
  font-size: 0.85em;
  line-height: 1.5em;

  padding: 10px 10px 5px;
  margin: 0;
  background-color: $color-background-well;
  border-bottom: 1px solid #eee;

  @include clearfix();

  ul {
    margin: 0;
    list-style: none;
  }

  @include breakpoint($breakpoint-charlie) {
    padding: 5px $grid-padding 0;
  }
}

.container__content {
  padding-top: $grid-padding;
  padding-bottom: $grid-padding;
  padding-left: 20px;
  padding-right: 20px;

  &.homepage {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

.container.container__copyright {
  padding: 10px 15px;
}

.container__copyright {
  text-align: center;
  border-top: 1px solid darken($color-border, 7%);
  font-size: 0.85em;

  .copyright--left {
    @include clearfix();
    text-align: center;
    margin: 0 auto;
    display: table;

    li:first-child a {
      padding-left: 0;
    }
  }

  a {
    text-decoration: none;
  }

  ul {
    @include clearfix();
    list-style: none;
    margin-left: 0;
    display: table-cell;

    li {
      float: left;

      a {
        border-left: 1px solid lighten($color-text, 50%);
        padding-right: 8px;
        padding-left: 8px;
      }
    }

    li:first-child a {
      border-left: 0 none;
    }
  }
}

.container__footer {
  @include clearfix();

  padding-left: 20px;
  padding-right: 20px;
  padding-top: $gutter-width / 2;
  background-color: $color-background-well;
  border-top: 1px solid darken($color-border, 7%);

  .container__quicklinks {
    div {
      margin-bottom: $grid-padding;
    }
  }

  .footer__districts {
    margin-bottom: $grid-padding;
  }
}

.container__footer_menu {
  border-top: 1px solid darken($color-border, 7%);

  ul {
    margin: 0;

    li a {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
