.homepage__sticky {
  padding-left: 20px;
  padding-right: 20px;
}

.homepage__news {
  @extend .clearfix;
  margin: 20px 0 0;
  border-top: 1px solid $color-border;
  padding: 20px 0 0;
}

.homepage__contact {
  background-color: $navbarBackground;
  border-top: 1px solid darken($color-border, 7%);
  color: white;
  padding: 20px;

  a {
    color: white;
    text-decoration: none;

    &:hover,
    &:visited {
      color: white;
    }
  }

  .text--strong {
    color: white;
  }

  .contact__inner {
    margin-left: 0;
    border: 0 none;
    padding: 0;
  }

  .nav--list li a {
    border-bottom: 1px solid $blue;

    &:hover {
      background-color: $navbarLinkBackgroundHover;
    }
  }

  .well {
    background-color: lighten($navbarBackground, 5%);
    border: 1px solid $blue;
    padding-bottom: 0;

    p {
      margin-bottom: $line-height / 2;
    }
  }

  .muted {
    color: darken(white, 10%);
  }

  ul {
    margin-bottom: 0;
  }
}
