.homepage__news {
  @extend .clearfix;
  margin: 20px 0 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 0 0;

  @include respond-min($navbarCollapseWidth) {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
  }
}

// Keeping the muted date on the same indent as the title
.homepage__news .thumbnail.media__object + .media__body {
  padding-left: 86px;
}

.homepage__sticky {
  padding-bottom: $grid-padding;

  @include respond-min($navbarCollapseWidth) {
    padding-bottom: 0;

    .media {
      margin-bottom: 0;
    }
  }
}

.homepage__contact ul {
  margin-bottom: 0;
}