#intro {
  height: 100%;
  width: 100%;
  background-color: #FFF;
}

.intro__external,
.intro__news {
  .intro__container {
    @extend .clearfix;
    padding-bottom: 30px;
    border-bottom: 1px solid $color-border;
  }
}

.intro__external,
.intro__wanted,
.intro__news {
  margin: 50px 0;
}

.intro__header {
  background-color: $blue;
  color: #FFF;
  height: 50px;

  img {
    margin: 12px 0;
    height: 26px;
    float: left;
  }
}

.intro__container {
  max-width: 800px;
  margin: 0 auto;
  @extend .clearfix;

  padding-right: $grid-padding;
  padding-left: $grid-padding;
}

.intro__container--small {
  max-width: 800px;
}

.intro__search {
  text-align: left;
  background-color: $color-background-well;
  border-bottom: 1px solid $color-border;
  padding: 40px 0;

  .search__label {
    font-size: $base-font-size * 1.2;
    color: $grayDark;
    margin-bottom: $line-height / 2;
  }

  .municipalities {
    margin-top: $line-height / 2;
  }
}

.intro__logo {
  margin-top: 25px;
  margin-bottom: 50px;

  img {
    height: 74px;
  }
}

.intro__wanted--missing,
.intro__wanted--wanted {
  margin-bottom: 30px;
}

.intro__languages {
  background-color: $color-background-well;
  border-top: 1px solid $color-border;

  text-align: center;

  .nav {
    margin-bottom: 0;
  }
}

@include breakpoint($breakpoint-alpha) {
  .intro__news .card {
    text-align: left;

    img {
      border-radius: $border-radius 0 0 $border-radius;
    }
  }
}

@include breakpoint($breakpoint-charlie) {
  .intro__news .card {
    text-align: center;

    img {
      border-radius: $border-radius $border-radius 0 0;
    }
  }

  .intro__search
  {
    .search__label {
      font-size: $base-font-size * 1.5;
    }
  }
}
