.splash {
    padding-top: 100px;
    text-align: center;
}

.splash__search {
    max-width: 500px;
    margin: 0 auto;
}

.splash__logo {
    margin-bottom: 50px;
}

.splash__toolbar {
    margin-top: 25px;
}

.splash__languages {
    margin: 50px 0 100px 0;

    a {
        margin: 0 10px;
    }
}

.splash__external {
    a {
        margin: 0 10px;
    }
}