.splash {
    padding-top: 125px;
}

.splash__logo {
    text-align: center;
    margin-bottom: 50px;
}

.splash__toolbar {
    text-align: center;
    margin-top: 25px;
}

.splash__languages {
    text-align: center;
    margin: 25px 0 75px 0;

    a {
        margin: 0 10px;
    }
}

.splash__external {
    text-align: center;
    margin-bottom: 10px;

    a {
        margin: 0 10px;
    }
}