// Responsive table
// ------------------
/* Force table to not be like tables anymore */
.table {
  max-width: 100%;
  width: 100%;

  th, td {
    padding: 8px;
  }

  td {
    /* Behave  like a "row" */
    clear: left;
    float: left;
    border: none;
  }

  td:nth-child(n+2) {
    display: none;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    display: none;
  }
}


// ZEBRA-STRIPING
// --------------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  tbody {
    > tr:nth-child(odd) {
      background-color: $tableBackgroundAccent;
    }
  }
}

@include respond-min($navbarCollapseWidth) {
  //
  // Tables
  // --------------------------------------------------

  // BASELINE STYLES
  // ---------------

  .table {
    background-color: $tableBackground;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: $baseLineHeight;
    // Cells
    th,
    td {
      display: table-cell !important;
      line-height: $baseLineHeight;
      text-align: left;
      vertical-align: top;
    }
    td {
      clear: none;
      float: none;
    }
    tbody tr {
      border-top: 1px solid $tableBorder;
    }
    th {
      font-weight: bold;
    }
    // Show thead
    thead tr {
      display: table-row;
    }
    // Bottom align for column headings
    thead th {
      vertical-align: bottom;
    }
    // Remove top border from thead by default
    thead tr th,
    thead tr td {
      border-top: 0;
    }
  }
}