/**
 * Media object
 *
 * @group molecules
 */
.media,
.media_responsive {
  @extend %clearfix;
}

// Media behaviour
@mixin media__visual {
  float: left;
  margin-right: 1em;

  &--right {
    float: right;
    margin-right: 0;
    margin-left: 1em;
  }

  img {
    display: block;
  }
}

.media {
  .media__visual {
    @include media__visual;
  }

  &_responsive {
    .media__visual,
    .media__visual--right {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
      text-align: center;

      img {
        display: inline-block;
      }
    }

    @media screen and (min-width: $alpha) {
      .media__visual {
        @include media__visual;
      }
    }
  }
}

.media__body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}