/* ==========================================================================
   Header / Breadcrumb
   ========================================================================== */

.container__breadcrumb {
  background: palette(blue) url("../images/graphic_line.png") no-repeat right bottom;
  color: #fff;
  border-top: ($spacing-xxxs / 2) solid palette(turquoise);
  padding-top: $spacing-s / 2;
  padding-bottom: $spacing-s / 2;

  @include respond-min($breakpoint-charlie) {
    padding-top: $spacing-xs;
    padding-bottom: $spacing-xs;
  }

  .breadcrumb {

    li, .divider {
      display: inline-block;
      margin-right: 5px;
      color: palette(turquoise, light);
      font-weight: 300;
    }

    .divider {
      color: palette(turquoise);
    }

    a {
      color: #fff;
      font-weight: 400;
    }
  }
}

.container__header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 14px;

  @include respond-min($breakpoint-delta) {
    padding-top: $spacing;
    padding-bottom: $spacing;
  }

  li {
    display: block;
    font-size: 1.25em;
    line-height: 1.2em;
    font-weight: 300;
    padding-top: .6em;
    padding-bottom: .6em;
    position: relative;

    &:before {
      display: block;
      content: ">";
      color: palette(turquoise);
      font-weight: 700;
      position: absolute;
      top: .75em;
      left: 0;
    }

    a {
      color: #fff;
      padding-left: 30px;
      display: inline-block;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.phone_numbers {
  margin-bottom: $spacing-xxs;

  span {
    white-space: nowrap;
  }
}

.my_police {
  margin-top: $spacing;
  background: rgba(palette(blue, dark), .7);
  padding: $spacing;

  @include respond-min($breakpoint-charlie) {
    margin-top: 0;
  }

  &__header {
    font-family: $sans;
    color: #fff;
    font-size: 1.5em;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1em;

    span {
      font-weight: 300;
    }
  }

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
    }

    &.my_police__button {
      border-radius: 4px;
      border: 1px solid #fff;
      box-shadow: inset 0 0 1px palette(turquoise, dark);
      display: inline-block;
      padding: 10px 20px;
      background: palette(turquoise);
      color: #000;
      text-decoration: none;
      @include transition;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.my_police_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: palette(blue);
  display: none;
}