/* ==========================================================================
   Content
   ========================================================================== */

.container__content {
  @extend %clearfix;
  padding-top: $spacing;
  padding-bottom: $spacing;

  a:not(.button) {
    color: palette(blue, light);

    &:hover,
    &:focus {
      color: palette(blue, dark);
    }

    &:visited {
      color: palette(purple, light);
    }
  }

  ul, ol {
    margin-bottom: $spacing;
  }

  @include breakpoint($breakpoint-charlie) {
    padding-top: $spacing-xl;
  }
}

.component {
  @extend %clearfix;
}
