/* ==========================================================================
   Content
   ========================================================================== */

.container__content {
  @extend %clearfix;
  padding-top: $spacing;
  padding-bottom: $spacing;

  @include respond-min($breakpoint-charlie) {
    padding-top: $spacing-xl;
  }

  .component {
    @extend %clearfix;
  }

  .component.articles,
  .component.news {

    article {
      @extend %clearfix;

      @include respond-min($breakpoint-delta) {
        max-width: 42em;
      }
    }

    header {
      margin-bottom: $spacing;
    }

    time {
      display: block;
      font-size: 1.25em;
      line-height: 1.2em;
      color: palette(blue, light);
      font-weight: 300;
    }
  }
}