/* ==========================================================================
   Copyright
   ========================================================================== */

.copyright {
  color: $color-text-footer;
  background: $color-background-body;
  border-top: 1px solid darken($color-background-body, 5%);
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright__menu {
  margin-bottom: $spacing / 2;
  @extend %clearfix;

  a {
    margin-bottom: $spacing / 4;

    &:hover {
      color: $color-text-footer-hover;
    }
  }

  @include breakpoint($breakpoint-alpha, max) {
    a {
      float: left;
      clear: left;
    }
  }

  @include breakpoint($breakpoint-alpha) {
    a {
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: $spacing / 2;
      }
    }
  }
}
