/* ==========================================================================
   Navigation
   ========================================================================== */

.container__navigation {
  @extend %clearfix;
  padding-top: $spacing-xxs;

  h2 {
    @extend %h4style;
    color: palette(blue);
    margin-bottom: 0.54545454545455em; // 12px
  }
}

.navigation__item {
  h2 {
    font-size: 19px;
  }

  p {
    font-size: 15px;
  }
}
