/* ==========================================================================
   Search
   ========================================================================== */

.search {
  margin-top: $spacing-xs;
  margin-bottom: $spacing-xs;
  position: relative;

  input {
    margin: 0;
    width: 100%;
    display: block;
    padding: 5px;
    border: 1px solid palette(blue);
    color: #777;
    font-style: italic;
    font-size: 1em;
    height: ($spacing-s * 2);
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    display: block;
    font-size: 1em;
    height: ($spacing-s * 2);
    width: ($spacing-s * 2);
    background: palette(blue);
    color: #fff;
    font-weight: 700;

    &:before {
      content: "`";
      position: absolute;
      top: 17px;
      right: 4px;
      font-size: 34px;
    }

    &:after {
      content: "o";
      position: absolute;
      top: 2px;
      left: 11px;
      font-size: 24px;
    }
  }
}