/* ==========================================================================
   Sidebar
   ========================================================================== */
.sidebar section {
  padding-top: 20px;
  padding-bottom: 20px;

  @include breakpoint($breakpoint-delta) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  h1 {
    font-family: $sans;
    font-weight: 300;
    color: palette(text, light);
  }
}