// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link
.button--link,
.button--link:active,
.button--link[disabled] {
    background-color: transparent;
    background-image: none;
    @include box-shadow(none);
}
.button--link {
    border-color: transparent;
    cursor: pointer;
    color: $linkColor;
    @include border-radius(0);
}
.button--link:hover,
.button--link:focus {
    color: $linkColorHover;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}
.button--link[disabled]:hover,
.button--link[disabled]:focus {
    color: $grayDark;
    text-decoration: none;
}