.button--primary {
    border: 1px solid $navbarBorder;
    background-color: $navbarBackground;
    color: $white;

    // in these cases the gradient won't cover the background, so we override
    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled], &.pseudo-class-hover, &.pseudo-class-active {
        color: $white;
        background-color: $navbarBackgroundHighlight;
        border-color: $navbarBorder;
    }
}