.button--hamburger {
  float: right;
  padding: 5px 12px;
  color: $linkColor;
  text-decoration: none;
  text-align: center;
  border: 1px solid darken($navbarBackground, 5%);
  border-radius: 8px;
  background-color: #fff;

  &:after {
    display: inline-block;
    font-size: 30px;
    content: '\2630';
    vertical-align: text-bottom;
    padding-left: 6px;
  }
}

// Prevent underline on touch devices
@media screen and (orientation:landscape), screen and (orientation:portrait) {
  .button--hamburger:hover {
    text-decoration: none;
  }
}