.well {
  padding: $line-height;
  margin-bottom: $line-height;
  background-color: $color-background-well;
  border: 1px solid $color-border-well;
  @include border-radius($border-radius);

  ul {
    margin-bottom: 0;
  }
}