.article {
    @extend .clearfix;
    margin-bottom: $gutter-width;

    p img[align="right"] {
        margin: 0 0 $baseLineHeight $baseLineHeight;
    }
}

.article__header {
    margin-bottom: 0.65em;

    h1 {
        margin-bottom: 0;
    }

    .timestamp {
        padding-top: 4px;
        @extend .muted;
        font-size: 0.85em;
    }
}

.article__introtext {
    font-weight: bold;
    margin-bottom: $baseLineHeight;
}

.article__thumbnail {
    float: right;
    max-width: 40%;
    margin: 0 0 $baseLineHeight $baseLineHeight;
    @extend .thumbnail;
}