.article {
  @extend .clearfix;
  margin-bottom: $gutter-width;

  p img[align="right"] {
    margin: 0 0 $line-height $line-height;
  }
}

.article__header {
  margin-bottom: 0.65em;

  h1 {
    margin-bottom: 0;
  }
}

.article__introtext {
  font-weight: bold;
  margin-bottom: $line-height;
}

.article__thumbnail {
  @extend .thumbnail;
  margin-bottom: $line-height / 2;
}

@include breakpoint($breakpoint-alpha) {
  .article__thumbnail {
    float: right;
    width: 40%;
    max-width: 200px;
    margin: 0 0 $line-height $line-height;
  }
}
