@include respond-min($breakpoint-delta) {
  .banner__image {
    height: 110px;
    border: 1px solid $gray;
    @include border-radius($border-radius);
    @include box-sizing(border-box);
    background: url("../images/banners/default.jpg");
  }

  $sites: 5317, 5318, 5388, 5396, 5446, 5888;

  @each $site in $sites {
    .banner__image--#{$site} {
      background: url("../images/banners/#{$site}.jpg");
    }
  }
}