@include breakpoint($breakpoint-delta) {
  .banner__image {
    height: 110px;
    border: 1px solid $grayLight;
    @include border-radius($border-radius);
    @include box-sizing(border-box);
    background: url("../images/banners/default.jpg");
  }

  $sites: 5271, 5283, 5288, 5297, 5304, 5311, 5317, 5318, 5368, 5369, 5370, 5372, 5376, 5388, 5396, 5417, 5421, 5423, 5427, 5430, 5432, 5435, 5438, 5443, 5446, 5449, 5888;

  @each $site in $sites {
    .banner__image--#{$site} {
      background: url("../images/banners/#{$site}.jpg");
    }
  }
}
