// HORIZONTAL & VERTICAL FORMS
// ---------------------------

// Common properties
// -----------------
// Margin to space out fieldsets
.form__group {
  margin-bottom: $baseLineHeight / 2;
}

.form__left {
  margin-right: 8em;
}

.form__right {
  width: 7em;
  float: right;
  .button {
    width: 100%;
  }
}

.has-error {
  @include form-control-validation(#a94442, #a94442, #f2dede);
}