// HORIZONTAL & VERTICAL FORMS
// ---------------------------

// Common properties
// -----------------
// Margin to space out fieldsets
.form__group {
  margin-bottom: $line-height / 2;
}

.has-error {
  @include form-control-validation(#a94442, #a94442, #f2dede);
}

.forms {
  .form__fieldset {
    legend {
      margin-bottom: 0;
    }
  }

  .form__group {
    max-width: 400px;
    margin: 1em 0;

    textarea {
      max-width: 100%;
    }

    legend {
      margin-bottom: 1em;
    }
  }

  .form__checkbox,
  .form__radio {
    input {
      width: auto;
      height: auto;
    }

    label {
      display: inline-block;
      margin: 0 0 0 10px;
    }
  }

  .form__hint {
    color: #6f777b;
    font-size: 0.9375em;
    margin: 0;
  }

  .form__honey-pot {
    display: none;
  }

  .form__actions {
    margin-top: $grid-padding * 2;
  }

  .validation-message {
    display: block;
    color: #df3034;
  }

  .validation-error {
    padding: 1em;
    border-left: 3px solid #df3034;
    background: #fae1e1;
  }
}