.container__header {
    .organization {
        display: none;
    }
}

@include respond-min($navbarCollapseWidth) {
    .container__header {
        position: relative;
        margin-bottom: 20px;

        .text--strong {
            font-size: $fontSizeLarge;
        }

        .organization {
            padding-top: 26px;
            text-decoration: none;
            color: $linkColor;
            display: block;

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .organization__logo {
            width: 160px;
            vertical-align: bottom;
            margin-left: 10px;
        }

        .organization__name {
            margin-left: 57px;
            margin-top: 3px;
            font-size: 0.9em;
        }

        .slogan {
            margin: 25px 0 10px;
            display: block;
            text-align: center;

            a {
                text-decoration: none;
            }
        }
    }
}

