.container__header {
    .logo {
        display: none;
    }
}

@include respond-min($navbarCollapseWidth) {
    .container__header {
        position: relative;
        @include rem(margin-bottom, 20px);

        .text--strong {
            @include rem(font-size, $fontSizeLarge);
        }

        .logo {
            @include rem(padding-top, 26px);
            text-decoration: none;
            color: $linkColor;
            display: block;

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            img {
                @include rem(width, 160px);
                vertical-align: bottom;
                @include rem(margin-left, 10px);
            }

            div {
                @include rem(margin-left, 57px);
                @include rem(margin-top, 3px);
            }
        }

        .slogan {
            @include rem(margin, 25px 0 10px);
            display: block;
            text-align: center;

            a {
                text-decoration: none;
            }
        }
    }
}

// Apply sticky header only in modern browsers (they understand media queries)
@media (max-width: $navbarCollapseWidth - 1) {
    // Only when JS is enabled
    .js-enabled {
        .container__header {
            position: fixed;
        }

        .container__content {
            // Increase padding between sticky header and content
            @include rem(padding-top, $navbarHeight + $gutter-width);
        }
    }
}