.languages {
  list-style: none;
  float: right;
  margin-left: 1em !important;
}

.languages__item {
  float: left;
  text-transform: uppercase;

  border-left: 1px solid #eee;
  margin-left: 5px;
  padding-left: 5px;

  &:first-child {
    border-left: 0px none;
    margin-right: 0px;
    padding-right: 0px;
  }
}