// Media objects
// --------------------------------------------------

.media {
    @include clearfix();
    margin-bottom: 1em;
}

.media__heading {
    margin: 0 0 5px;
}

.media__object {
    margin-right: 1em;
    float: left;
    display: block;
    width: 64px; // IE7
}