// COMMON STYLES
// -------------
// Inner for background effects
// Gradient is applied to its own element because overflow visible is not honored by IE when filter is present
.navbar {
  min-height: $navbarHeight / 2;
  width: 100%;
  background-color: $navbarBackground;

  // Prevent floats from breaking the navbar
  @include clearfix();

  color: $white;

  ul {
    margin: 0;
    text-align: left;
    width: 100%;
  }

  // Links
  ul li a {
    color: $navbarLinkColor;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid $blue;
    padding: 13px 20px;
    font-weight: bold;
    color: $navbarLinkColor;
    white-space: nowrap;
  }

  // Hover/focus
  ul li a:focus,
  ul li a:hover {
    background-color: $navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover/:focus from .active
    color: $navbarLinkColorHover;
    text-decoration: none;
  }

  // Active nav items
  ul .active a,
  ul .active a:hover,
  ul .active a:focus {
    color: $navbarLinkColorActive;
    text-decoration: none;
    background-color: $navbarLinkBackgroundActive;
    @include box-shadow(inset 0 3px 8px rgba(0, 0, 0, .125));
    font-weight: bold;
  }
}

// JS dependencies
.js-enabled {
  // Hide the navbar
  .navbar {
    @include visually-hidden;
  }

  // Show the navbar when the handle is clicked
  .navbar.is-shown {
    @include visually-shown;
  }
}

@include breakpoint($breakpoint-beta) {
  .button--hamburger {
    display: none;
  }

  .navbar {
    /* Customize the navbar links to be fill the entire space of the .navbar */
    ul {
      display: table;
    }
    ul li {
      display: table-cell;
      width: 1%;
    }
    ul li a {
      text-align: center;
      border: 0 none;
      font-weight: normal;
      padding: 10px 15px;
    }
  }

  // Always show the navbar on non-mobile screen
  .js-enabled .navbar {
    @include visually-shown;
  }
}

@include breakpoint($breakpoint-charlie) {
  // JS dependencies
  .js-enabled {
    // Hide the navbar
    .navbar {
      @include visually-shown;
    }

    // Show the navbar when the handle is clicked
    .navbar.is-shown {
      @include visually-shown;
    }
  }

  .navbar {
    border-bottom: 0 none;
    border: 1px solid $navbarBorder;
    @include border-radius($border-radius);

    /* Customize the navbar links to be fill the entire space of the .navbar */
    ul li a {
      padding: 5px 15px;
    }
    ul li:first-child a {
      border-left: 0;
      @include border-radius($border-radius 0 0 $border-radius);
    }
    ul li:last-child a {
      border-right: 0;
      @include border-radius(0 $border-radius $border-radius 0);
    }
  }
}
