//
// Pagination (multiple pages)
// --------------------------------------------------

// Space out pagination from surrounding content
.pagination {
  margin: $baseLineHeight 0 0 0;

  ul {
    // Allow for text-based alignment
    display: inline-block;
    @include ie7-inline-block();
    // Reset default ul styles
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
  }

  ul > li {
    display: inline; // Remove list-style and block-level defaults
  }

  ul > li > a,
  ul > li > span {
    float: left; // Collapse white-space
    padding: 0.3em 1em;
    text-decoration: none;
    border: 1px solid $paginationBorder;
    @include border-radius(5px);
  }

  ul > li > a:hover,
  ul > li > a:focus {
    background-color: $cyanLighter;
  }

  ul > .active > a,
  ul > .active > span,
  ul > .active > a:hover,
  ul > .active > a:focus {
    color: $grayLight;
    cursor: default;
    background-color: $white;
  }

  ul > .disabled > span,
  ul > .disabled > a,
  ul > .disabled > a:hover,
  ul > .disabled > a:focus {
    color: $grayLight;
    background-color: transparent;
    cursor: default;
  }

  .pagination__previous {
    float: left;
  }

  .pagination__next {
    float: right;
  }

  .pagination__offset {
    display: none;
  }
}

@include respond-min($breakpoint-charlie) {
  .pagination {
    text-align: center;

    ul {
      width: auto;
      border: 1px solid $paginationBorder;
      @include border-radius(5px);
    }

    ul > li > a {
      border: 0 none;
      @include border-radius(0);
      border-right: 1px solid $paginationBorder;
    }

    ul > li:first-child a {
      @include border-radius(5px 0 0 5px);
    }

    ul > li:last-child a {
      border-right: 0 none;
      @include border-radius(0 5px 5px 0);
    }

    .pagination__next,
    .pagination__previous {
      float: none;
    }

    .pagination__offset {
      display: inline;
    }
  }
}