table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid $grayLighter;
    width: 100% !important;

    th, td {
        @include rem(padding, 8px);
    }
}

.table {
    max-width: 100%;
    width: 100%;
    border: 0 none;

    td {
        border: none;
    }

    td:nth-child(n+2) {
        display: none;
    }

    /* Hide table headers */
    thead tr {
        display: none;
    }
}

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
    tbody {
        tr {
            border-top: 1px solid $tableBorder;
        }

        > tr:nth-child(odd) {
            background-color: $tableBackgroundAccent;
        }
    }
}

@include respond-min($navbarCollapseWidth) {
    .table {
        background-color: $tableBackground;
        margin-bottom: $base-line-height;
        border: 0 none; // Override default style
        // Cells
        th,
        td {
            display: table-cell !important;
            line-height: $base-line-height;
            text-align: left;
            vertical-align: top;
        }

        th {
            font-weight: bold;
        }
        // Show thead
        thead tr {
            display: table-row;
        }
        // Bottom align for column headings
        thead th {
            vertical-align: bottom;
        }
        // Remove top border from thead by default
        thead tr th,
        thead tr td {
            border-top: 0;
        }
    }
}