// The actual thumbnail (can be `a` or `div`)
.thumbnail {
  display: block;
  padding: 1px;
  border: 1px solid #ddd !important;
  @include border-radius($border-radius);
  @include box-shadow(0 1px 3px rgba(0, 0, 0, .055));
  @include transition(all .2s ease-in-out);

  // Images and captions
  > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include border-radius($border-radius);
  }

  .caption {
    padding: 9px;
    color: $gray;
  }
}

// Add a hover/focus state for linked versions only
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: $color-link !important;
  @include box-shadow(0 1px 4px rgba(0, 105, 214, .25));
}