.nowrap {
    white-space: nowrap;
}

.highlight {
    background-color: yellow;
}

.text--strong {
    color: $blue;
    font-weight: bold;
}

.text--small {
    font-size: 0.9em;
    @extend .muted;
}