.nowrap {
  white-space: nowrap;
}

.highlight {
  background-color: yellow;
}

.text--strong {
  font-weight: bold;
}

.text--primary {
  color: $blue;
}

.text--small {
  font-size: 0.85em;
  @extend .muted;
}

.muted {
  color: $gray;
}

.text-center {
  text-align: center;
}