.wanted-list {
  list-style: none;
  margin: 0;
}

.wanted-list__item {
  text-align: center;
  margin-bottom: $line-height;
  border: 1px solid $color-border;
  border-radius: $border-radius;

  img {
    border-radius: $border-radius $border-radius 0 0;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: $color-text;
  }

  a:hover,
  a:focus {
    color: $color-link-hover;
    background-color: $cyanLighter;
  }
}

.wanted-list__metadata {
  display: block;
  padding-top: 8px;
  padding-bottom: 12px;
}

.wanted-list__name {
  font-weight: bold;
}