//
// Wells
// --------------------------------------------------

// Base class
.well {
    @include rem(min-height, 20px);
    @include rem(padding, 19px);
    @include rem(margin-bottom, 20px);
    background-color: $wellBackground;
    border: 1px solid darken($wellBackground, 5%);
    @include border-radius($baseBorderRadius);

    ul {
        margin-bottom: 0;
    }
}

.well--small {
    @include rem(padding, 8px 12px);
    @include border-radius($borderRadiusSmall);
}