//
// Wells
// --------------------------------------------------

// Base class
.well {
    @include rem(padding, 1.5rem);
    @include rem(margin-bottom, 1.5rem);
    background-color: $wellBackground;
    border: 1px solid darken($wellBackground, 5%);
    @include border-radius($baseBorderRadius);

    ul {
        margin-bottom: 0;
    }
}

.well--small {
    @include rem(padding, 0.5rem 1rem);
    @include border-radius($borderRadiusSmall);
}