@include respond-min($navbarCollapseWidth) {
    #wrap {
        border-bottom: 1px solid darken($grayLighter, 7%);
    }

    .navbar__handlebar,
    .visible-phone {
        display: none;
    }

    .container__header .is-hidden,
    .container__breadcrumb,
    .container__banner,
    .container__footer,
    .container__quicklinks,
    .container__content .sidebar,
    .container__copyright .copyright,
    .hidden-phone {
        display: block;
    }

    .container__header,
    .container__banner,
    .container__breadcrumb,
    .container__content,
    .container__footer {
        padding-left: 0px;
        padding-right: 0px;
    }

    .container__header {
        .organization {
            text-align: center;
        }
    }

    .container__content.police {
        .contact__inner {
            border-left: 1px solid $grayLighter;

            padding-left: 18px;
            margin-top: 20px;
            @include border-radius(5px);

            ul {
                margin-bottom: 0;
            }

            .well {
                margin-bottom: 10px
            }
        }
    }

    .container__header {
        width: auto;
    }

    .container__content {
        .sidebar {
            margin-top: 20px;

            .sidebar__element {
                margin-bottom: 40px;
            }
        }
    }

    .container__quicklinks {
        border-top: 1px solid $grayLighter;
        padding-top: $gutter-width / 2;
        margin-top: $gutter-width / 2;
    }

    .container__footer {
        padding-top: $gutter-width / 2;

        background-color: $wellBackground;
        border-top: 1px solid darken($grayLighter, 7%);

        @include border-radius(0 0 5px 5px);
    }

    .container__copyright {
        text-align: left;
        border-top: 0 none;
        .copyright--right {
            text-align: right;
        }
    }
}

@include respond-min(998px) {
    #wrap {
        border-left: 1px solid darken($grayLighter, 7%);
        border-right: 1px solid darken($grayLighter, 7%);
        @include border-radius(0 0 5px 5px);
    }

    .container__header {
        .organization {
            text-align: left;
        }
    }
}