@include breakpoint($breakpoint-charlie) {
  #wrap {
    border-bottom: 1px solid darken($color-border, 7%);
  }

  .visible-phone {
    display: none;
  }

  .container__breadcrumb,
  .container__content .sidebar,
  .container__copyright .copyright,
  .hidden-phone {
    display: block;
  }

  .container__header,
  .container__breadcrumb,
  .container__content .homepage__sticky,
  .container__footer {
    padding-left: 0px;
    padding-right: 0px;
  }

  .container__header {
    width: auto;
  }

  .container.container__breadcrumb {
    border: 1px solid #eee;
    margin: 5px $grid-padding;
    padding: 6px 10px 6px;
    @include border-radius($border-radius);
  }

  .container__content {
    padding-top: floor($grid-padding * 1.5);

    &.homepage {
      padding-left: $grid-padding;
      padding-right: $grid-padding;
    }

    .sidebar {
      margin-top: 20px;

      .sidebar__element {
        margin-bottom: 40px;
      }
    }
  }

  .container__quicklinks {
    @include clearfix();
  }

  .homepage__sticky {
    padding-bottom: 0;
  }

  .homepage__contact {
    padding: 0;
    margin-bottom: $grid-padding;
    background-color: transparent;
    border-top: 0px none;
    color: $color-text;

    a,
    a:hover,
    .text--strong {
      color: $color-link;
    }

    .nav--list li a {
      border-bottom: 1px solid $color-border;

      &:hover {
        background-color: $cyanLighter;
        color: $color-link;
      }
    }

    .muted {
      color: $gray;
    }

    .contact__inner {
      border-left: 1px solid $color-border;

      padding-left: 18px;
      margin-top: 20px;

      ul {
        margin-bottom: 0;
      }

      .well {
        border: 1px solid $color-border-well;
        background-color: $color-background-well;
        margin-bottom: 10px;
      }
    }
  }

  .quicklink__item_1,
  .quicklink__item_2,
  .quicklink__item_3 {
    margin-bottom: $grid-padding/2;
    border-bottom: 1px solid $color-border;
    padding-bottom: $grid-padding/2;

    @include breakpoint($breakpoint-charlie) {
      &.quicklink__item_3 {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    @include breakpoint($breakpoint-delta) {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  .container__footer {
    padding-top: $gutter-width / 2;

    background-color: $color-background-well;

    .footer__districts {
      margin-top: $grid-padding;

      @include breakpoint($breakpoint-charlie) {
        margin-top: 0;
      }
    }
  }

  .container.container__footer_menu {
    padding-left: 14px;
    padding-right: 14px;

    ul {
      @include clearfix();
      margin: 0;

      li {
        display: block;
        float: left;

        a {
          border: none;
          font-size: 14px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }

  .container__copyright {
    text-align: left;
    border-top: 0 none;
    .copyright--right {
      text-align: right;
    }
  }
}

@include breakpoint($breakpoint-delta) {
  #wrap {
    border-left: 1px solid darken($color-border, 7%);
    border-right: 1px solid darken($color-border, 7%);
    @include border-radius(0 0 5px 5px);
  }
}