.contact__inner {
  .well {
    padding-bottom: 0;
  }

  .text--strong {
    display: block;
    margin-bottom: $baseLineHeight / 2;
  }
}

@include respond-min($navbarCollapseWidth) {
    #wrap {
        border-bottom: 1px solid darken($grayLighter, 7%);
    }

    .navbar__handlebar,
    .visible-phone {
        display: none;
    }

    .container__header .is-hidden,
    .container__breadcrumb,
    .container__banner,
    .container__content .sidebar,
    .container__copyright .copyright,
    .hidden-phone {
        display: block;
    }

    .container__header,
    .container__banner,
    .container__breadcrumb,
    .container__content,
    .container__footer {
        padding-left: 0px;
        padding-right: 0px;
    }

    .container__header {
        .organization {
            text-align: center;
        }
    }

    .container__content.police {
        .contact__inner {
            border-left: 1px solid $grayLighter;

            padding-left: 18px;
            margin-top: 20px;
            @include border-radius(5px);

            ul {
                margin-bottom: 0;
            }

            .well {
                margin-bottom: 10px;
            }
        }
    }

    .container__header {
        width: auto;
    }

    .container__content {
        .sidebar {
            margin-top: 20px;

            .sidebar__element {
                margin-bottom: 40px;
            }
        }
    }

    .container__quicklinks {
        @extend .clearfix;
    }

    .quicklink__item_1,
    .quicklink__item_2,
    .quicklink__item_3 {
        margin-bottom: $grid-padding/2;
        border-bottom: 1px solid #eee;
        padding-bottom: $grid-padding/2;

        @include respond-min($navbarCollapseWidth) {
            &.quicklink__item_3 {
                margin-bottom: 0;
                border-bottom: none;
                padding-bottom: 0;
            }
        }

        @include respond-min(998px) {
            margin-bottom: 0;
            border-bottom: none;
            padding-bottom: 0;
        }
    }

    .container__footer {
        padding-top: $gutter-width / 2;

        background-color: $wellBackground;

        .footer__news {
          .media {
            margin-bottom: 0;
            margin-top: $grid-padding/2;
          }
        }

        .footer__districts {
          margin-top: $grid-padding;

          @include respond-min($navbarCollapseWidth) {
            margin-top: 0;
          }
        }
    }

  .container.container__footer_menu {
    padding-left: 14px;
    padding-right: 14px;

    ul {
      @extend .clearfix;
      margin: 0;

      li {
        display: block;
        float: left;

        a {
          border: none;
          font-size: 14px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }

    .container__copyright {
        text-align: left;
        border-top: 0 none;
        .copyright--right {
            text-align: right;
        }
    }
}

@include respond-min(998px) {
    #wrap {
        border-left: 1px solid darken($grayLighter, 7%);
        border-right: 1px solid darken($grayLighter, 7%);
        @include border-radius(0 0 5px 5px);
    }

    .container__header {
        .organization {
            text-align: left;
        }
    }
}