.visually-hidden {
  @include visually-hidden();
}

.icon-facebook { color: #3b5998; }
.icon-instagram { color: #3f729b; }
.icon-twitter { color: #55ACEE; }
.icon-youtube { color: #cd201f; }
.icon-feed { color: #FF6600; font-size: 15px; }