// Inspired by https://github.com/SaraSoueidan/navicon-transformicons

@media (max-width: $navbarCollapseWidth) {
  // Remove 'Hamburger Icon' with Unicode
  .button--hamburger:after {
    content: "";
    content: none;
  }

  // Code originally from https://github.com/SaraSoueidan/navicon-transformicons
  $color : $linkColor;
  $transition: .4s;// increase this to see the transformations happen in slow motion

  /* ====================== lines button ==================================================*/

  $button-size : 0.9375em;
  //common to all three-liners
  .lines-button {
    transition: .3s;
    cursor: pointer;
    user-select: none;
    /* */
    &:hover {
      opacity: 1;
    }
    &:active {
      transition: 0;
    }
  }

  //common to all three-liners
  @mixin line {
    display: inline-block;
    width: $button-size;
    height: $button-size/7;
    background: $color;
    border-radius: $button-size/14;
    transition: $transition;
  }

  //common to all three-liners
  .lines {
    @include line;
    position: relative;
    top: -5px;

    &:before, &:after {
      @include line;
      position: absolute;
      left:0;
      content: '';
      -webkit-transform-origin: $button-size/14 center;
      transform-origin: $button-size/14 center;
    }
    &:before {
      top: $button-size/3.5;
    }
    &:after {
      top: -$button-size/3.5;
    }
  }

  //three-lines to x
  .lines-button.x.close{
    .lines {
      background: transparent;
      &:before, &:after{
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        top:0;
        width: $button-size;
      }
      &:before{
        -webkit-transform: rotate3d(0,0,1,45deg);
        transform: rotate3d(0,0,1,45deg);
      }
      &:after{
        -webkit-transform: rotate3d(0,0,1,-45deg);
        transform: rotate3d(0,0,1,-45deg);
      }
    }
  }
}