/* Print stub */
@media only print {
  .container__header,
  .container__breadcrumb,
  .container__copyright,
  .pagination {
    display: none;
  }

  .article__thumbnail:after {
    content: "" !important;
  }

  a {
    border-bottom: 0 none !important;
  }
}