$body: #F0F0F0;
$blue: #004D9F;
$orange: #DE791C;
$cyan: #9CC5C8;
$cool-gray: #807C81;

$cyanLight: lighten($cyan, 20%);
$cyanLighter: lighten($cyan, 24%);

$color103: #CAB23D;
$color123: #FFCA46;
$color130: #F8973D;
$color202: #900133;
$color282: #021B55;
$color313: #00ACBA;
$color308: #006379;
$color451: #A1A17F;
$color454: #E7E4CD;
$color461: #FBF1BD;
$color485: #EE2F2E;
$color525: #5D326A;
$color805: #F8AAA8;
$color5425: #6E96A7;
$color5455: #D6E2DF;

// Grays
// -------------------------
$black: #000 !default;
$grayDarker: #222 !default;
$grayDark: #333 !default;
$gray: #505050 !default;
$grayLight: #999 !default;
$grayLighter: #eee !default;
$white: #fff !default;


// Breakpoints
// -------------------------
$breakpoint-zero: 320px;
$breakpoint-alpha: 400px;
$breakpoint-beta: 600px;
$breakpoint-charlie: 768px;
$breakpoint-delta: 960px;


$font-size: 16px;
$font-family: Helvetica, sans-serif;
$line-height: 1.5em;

$color-background-well: #F8F8F8;
$color-background-body: $grayLighter;
$color-background-table-accent: #f9f9f9 !default;

$color-border: #eee;
$color-border-well: $color-border;
$color-border-input: #ccc !default;

$color-text: $grayDarker;

$color-link: $blue;
$color-link-hover: darken($color-link, 15%) !default;
$color-link-visited: #609 !default;

$border-radius: 4px !default;


// Navbar
// -------------------------
$navbarHeight: 58px;
$navbarBackgroundHighlight: lighten($blue, 12%);
$navbarBackground: lighten($blue, 3%);
$navbarBorder: darken($navbarBackground, 16%);

$navbarText: $white;
$navbarLinkColor: $white;
$navbarLinkColorHover: $white;
$navbarLinkColorActive: $white;
$navbarLinkBackgroundHover: lighten($blue, 12%);
$navbarLinkBackgroundActive: darken($navbarBackground, 8%);

$navbarBrandColor: $navbarLinkColor;


// Wells
// -------------------------

$gutter-width: 3em;
$grid-padding: 25px;

// Susy grid
$susy: (
  gutters: $gutter-width/4em,
  gutter-position: before
);

