$body: #F0F0F0;
$blue: #004FA3;
$orange: #DE791C;
$cyan: #9CC5C8;
$cool-gray: #807C81;

$cyanLight: lighten($cyan, 20%);
$cyanLighter: lighten($cyan, 24%);

$color103: #CAB23D;
$color123: #FFCA46;
$color130: #F8973D;
$color202: #900133;
$color282: #021B55;
$color313: #00ACBA;
$color308: #006379;
$color451: #A1A17F;
$color454: #E7E4CD;
$color461: #FBF1BD;
$color485: #EE2F2E;
$color525: #5D326A;
$color805: #F8AAA8;
$color5425: #6E96A7;
$color5455: #D6E2DF;


/*
 * Bootstrap variables
 */

$bodyBackground:        $grayLighter;

$textColor: 			$grayDarker;

$sansFontFamily:        Helvetica, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

$baseFontSize:          14px;
$baseLineHeight:        22px;

$linkColor:             $blue;

$iconSpritePath:          "../img/glyphicons-halflings.png";
$iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";

// Navbar
// -------------------------
$navbarCollapseWidth:             767px;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;

$navbarHeight:                    32px;
$navbarBackgroundHighlight:       lighten($blue, 12%);
$navbarBackground:                lighten($blue, 6%);
$navbarBorder:                    darken($navbarBackground, 16%);

$navbarText:                      $white;
$navbarLinkColor:                 $white;
$navbarLinkColorHover:            $white;
$navbarLinkColorActive:           $white;
$navbarLinkBackgroundHover:       lighten($blue, 12%);
$navbarLinkBackgroundActive:      darken($navbarBackground, 8%);

$navbarBrandColor:                $navbarLinkColor;

$gridColumnWidth:         50px;
$gridGutterWidth:         30px;

$fluidGridColumnWidth:    percentage($gridColumnWidth/$gridRowWidth);
$fluidGridGutterWidth:    percentage($gridGutterWidth/$gridRowWidth);