.media {
  @extend %clearfix;
  margin-top: 10px;
  margin-bottom: 10px;
}

.media__title {
  font-size: 1em;

  @include respond-min($breakpoint-alpha) {
    font-size: 1.25em;
    margin-top: .5em;
    margin-bottom: .5em;
  }
}

.media__image {
  @include ratio(75%, '&__inner', hidden);

  // Always make image as large as container
  img {
    width: 100%;
  }
}

.media__image__inner {
  background: palette(turquoise) url("../images/avatar--white.png") no-repeat center;
  background-size: 50%;
  font-size: .8125em;
  @include transition;
  @include hover_background;
}