/* ==========================================================================
   A media container for news
   ========================================================================== */

.media {
  @extend %clearfix;
  margin-top: $spacing-xxs;
  margin-bottom: $spacing-xxs;
}

.media__title {
  @extend %h6style;

  @include breakpoint($breakpoint-alpha) {
    font-size: 1.25em; // 20px
    line-height: 1.2em; // 24px
    margin-bottom: 1.2em; // 24px
  }
}

.media__image {
  @include ratio(75%, '&__inner', hidden);

  // Always make image as large as container
  img {
    width: 100%;
  }
}

.media__image__inner {
  background: palette(turquoise) url("../images/avatar--white.png") no-repeat center;
  background-size: 50%;
  @include transition;
  @include hover_background;
}

.news__other {
  .media__image__inner {
    font-size: .8125em;
  }
}