/* ==========================================================================
   Thumbs
   ========================================================================== */

.article__thumbnail {
  line-height: 0;
  display: block;
  margin-bottom: 20px;
  background: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  overflow: hidden;
  @include hover_background($padding: 4px);
}

@include breakpoint($breakpoint-alpha) {
  .article__thumbnail {
    float: right;
    width: 40%;
    max-width: 200px;
    margin: 0 0 $line-height $line-height;
  }
}