// PILLS
// -----

// Links rendered as pills
.nav--pills {
  li a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 3px;
    @include border-radius(5px);
  }

  // Active state
  .active a,
  .active a:hover,
  .active a:focus {
    color: $white;
    background-color: $linkColor;
  }
}
