//
// Navs
// --------------------------------------------------

// BASE CLASS
// ----------

.nav {
    margin-left: 0;
    margin-bottom: $baseLineHeight;
    list-style: none;

    // Make links block level
    li a {
        display: block;
        text-decoration: none;
    }

    li a:hover,
    li a:focus {
        text-decoration: none;
        background-color: $cyanLighter;
    }
}

.nav--visited a:visited {
    color: #609;
}

// TABS AND PILLS
// -------------

// Common styles
.nav--list,
.nav--pills {
    @include clearfix();

    li a,
    li a {
        padding-right: 12px;
        padding-left: 12px;
        margin-right: 2px;
    }
}
