// TABS
// ----
.nav--list {
  // Actual tabs (as links)
  li a {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-border;
    text-decoration: none;
  }

  > li:last-child a {
    border-bottom: 0 none;
  }

  // Active state, and it's :hover/:focus to override normal :hover/:focus
  .active > a,
  .active > a:hover,
  .active > a:focus {
    color: $gray;
    background-color: $cyanLighter;
    font-weight: bold;
  }
}
