//
// Navs
// --------------------------------------------------

// BASE CLASS
// ----------

.nav {
  margin-left: 0;
  margin-bottom: $line-height;
  list-style: none;

  // Make links block level
  li a {
    display: block;
  }

  li a:hover,
  li a:focus {
    background-color: $cyanLighter;
  }
}

.nav--visited a:visited {
  color: #609;
}

// TABS AND PILLS
// -------------

// Common styles
.nav--list,
.nav--pills {
  @include clearfix();

  li a,
  li a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
  }
}
