/**
 * Mixin for setting columns with vendor prefixes
 *
 * @param {number} $count - The amount of columns
 *
 * @group Basics
 */
@mixin column-count($count) {
  -webkit-column-count: $count;
  -moz-column-count: $count;
  column-count: $count;
}

/**
 * Mixin for setting clearfix to an element
 *
 * @group Basics
 */
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

/**
 * Hacky CSS to set inline-block and zoom to IE7
 *
 * @group Basics
 */
@mixin ie7-inline-block() {
  *display: inline;
  *zoom: 1;
}

/**
 * Set outlines for focus on an element
 *
 * @group Basics
 */
@mixin tab-focus() {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/**
 * Set border-radius to element including vendor prefixes
 *
 * @param {string} $radius - desired border-radius (shorthand)
 *
 * @group Basics
 */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

/**
 * Set box-sizing to element including vendor prefixes
 *
 * @param {string} $boxmodel - desired box-model (shorthand)
 *
 * @group Basics
 */
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
  -moz-box-sizing: $boxmodel;
  box-sizing: $boxmodel;
}

/**
 * Set box-shadow to element including vendor prefixes
 *
 * @param {string} $shadow - desired box-shadow (shorthand)
 *
 * @group Basics
 */
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

/**
 * Set transition to element including vendor prefixes
 *
 * @param {string} $transition - desired transition (shorthand)
 *
 * @group Basics
 */
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

/**
 * Set transition-delay to element including vendor prefixes
 *
 * @param {string} $transition-delay - desired transition-delay either in s or ms
 *
 * @example
 * transition-delay(.2s);
 *
 * @example
 * transition-delay(.50ms);
 *
 * @group Basics
 */
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
  -moz-transition-delay: $transition-delay;
  -o-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}

/**
 * Set transition-duration to element including vendor prefixes
 *
 * @param {string} $transition-duration - desired transition-duration either in s or ms
 *
 * @example
 * transition-duration(.2s);
 *
 * @example
 * transition-duration(.50ms);
 *
 * @group Basics
 */
@mixin transition-duration($transition-duration) {
  -webkit-transition-duration: $transition-duration;
  -moz-transition-duration: $transition-duration;
  -o-transition-duration: $transition-duration;
  transition-duration: $transition-duration;
}

/**
 * Set opacity with IE filter
 *
 * @param {number} $opacity - between 0 and 1
 *
 * @example
 * opacity(.2);
 *
 * @group Basics
 */
@mixin opacity($opacity) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}

/**
 * Set font-size, font-weight and line-height in one go
 *
 * @param {string} $size ($base-font-size) - font-size
 * @param {string} $weight (normal) - font-weight
 * @param {string} $lineHeight ($baseLineHeight) - line-height
 *
 * @example
 * font-shorthand(1em, 600, 1.5em);
 *
 * @group Basics
 */
@mixin font-shorthand($size: $base-font-size, $weight: normal, $lineHeight: $baseLineHeight) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

/**
 * Set input[placeholder] color with vendor prefixes
 *
 * @param {string} $color (#999) - The font color
 *
 * @group Basics
 */
@mixin placeholder($color: #999) {
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

/**
 * Visually hide elements while still preserving screen reader visibility
 *
 * @group Basics
 */
@mixin visually-hidden() {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/**
 * Visually show elements when they have a visually-hidden style
 *
 * @group Basics
 */
@mixin visually-shown() {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  overflow: auto;
  clip: auto;
  position: static;
}

/**
 * Set form styling
 *
 * @param {string} $text-color (#555) - The font color
 * @param {string} $border-color (#ccc) - The border color
 * @param {string} $background-color (#f5f5f5) - The background color
 *
 * @group Basics
 */
@mixin form-control-validation($text-color: #555, $border-color: #ccc, $background-color: #f5f5f5) {
  // Color the label and help text
  .form__label {
    color: $text-color;
  }
  // Set the border and box shadow on specific inputs to match
  .form__input,
  .select2-default {
    border-color: $border-color;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075)); // Redeclare so transitions work
    &:focus {
      border-color: darken($border-color, 10%);
      $shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten($border-color, 20%);
      @include box-shadow($shadow);
    }
  }
  // Optional feedback icon
  .form__feedback {
    color: $text-color;
  }
}