@import "../../../../../application/admin/public/theme/default/stylesheets/variables";
@import "../../../../../application/admin/public/theme/default/stylesheets/labels";

$border: #dddddd;

.muted {
    color: gray;
    margin-left: 6px;
}

#support__ticket {
    border-top: 1px solid #dddddd;

    .header {
        padding: 10px 20px;
        border-top: 0 none;
        border-bottom: 1px solid $border;
        background-color: whitesmoke;

        h1 {
            margin: 0 0 5px 0;
            font-size: 1.8em;
        }
    }

    .well {
        min-height: 20px;
        padding: 10px;

        .well__content {
            padding: 10px;
            border: 1px solid #e4e4e4;
            background: #FFF;
        }
    }

    .comments {
        .comment {
            border-top: 1px dotted lighten($border, 0%);
            padding: 20px 20px 10px;
        }
    }

    form {
        padding: 10px 20px;

        .cke_top {
            background: white !important;
            background-image: none !important;
            border-bottom: 0 none !important;
            padding-left: 0 !important;
        }

        .cke_bottom {
            display: none !important;
        }

        .cke_contents {
            border: 1px solid lighten($border, 0%) !important;
            border-radius: 5px;
        }
    }

    .attachment {
        background-color: lighten($border, 8%);
        padding: 4px 6px;
        border-radius: 4px;
    }
}

// Colors
.label-new          { @include label-colors(lighten($blue, 50%), $blue); }
.label-open         { @include label-colors(lighten($red, 52%), $red); }
.label-pending      { @include label-colors(lighten($orange, 45%), $orange); }
.label-solved       { @include label-colors(lighten($green, 60%), $green); }

