/**
 * Returns "@content" in either a media querie or regular
 * based on if $fix-mqs is set and to what number
 *
 * @param {string} $width - The width unit for single media queries
 * @param {string} $type (min) - Either "min", "max" or "range"
 * @param {string} $width--max (false) - The max width when using the "range" type
 *
 * @example scss
 * breakpoint(600px) { ... }
 * // will return @media screen and (min-width: 600px) { ... }
 *
 * @example scss
 * breakpoint(800px, max) { ... }
 * // will return @media screen and (max-width: 800px) { ... }
 *
 * @example scss
 * breakpoint(600px, range, 800px) { @content }
 * // will return @media screen and (min-width: 600px) and (max-width: 800px) { ... }
 *
 * @group Breakpoint
 */
/**
 * Returns "@content" based on if $fix-mqs is set and to what number
 *
 * @example scss
 * old-ie { ... }
 *
 * @group Breakpoint
 */
@media screen and (min-width: 400px) {
  .found .cards .card {
    width: 48.1481481481%;
    float: left; }
    .found .cards .card:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .found .cards .card:nth-child(2n + 2) {
      margin-left: 51.8518518519%;
      margin-right: -100%;
      clear: none; }
  .intro .intro__news__item img {
    width: 39.5061728395%;
    float: left;
    margin-left: 0; }
  .intro .intro__news__item .card__metadata {
    width: 56.7901234568%;
    float: left;
    margin-left: 3.7037037037%; } }

@media screen and (min-width: 600px) {
  .gallery .gallery__item {
    width: 48.1481481481%;
    float: left; }
    .gallery .gallery__item:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .gallery .gallery__item:nth-child(2n + 2) {
      margin-left: 51.8518518519%;
      margin-right: -100%;
      clear: none; }
  .found .cards .card {
    width: 30.8641975309%;
    float: left; }
    .found .cards .card:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .found .cards .card:nth-child(3n + 2) {
      margin-left: 34.5679012346%;
      margin-right: -100%;
      clear: none; }
    .found .cards .card:nth-child(3n + 3) {
      margin-left: 69.1358024691%;
      margin-right: -100%;
      clear: none; }
  .intro .intro__news__item img {
    width: 30.8641975309%;
    float: left;
    margin-left: 0; }
  .intro .intro__news__item .card__metadata {
    width: 65.4320987654%;
    float: left;
    margin-left: 3.7037037037%; } }

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; }
    .container:after {
      content: " ";
      display: block;
      clear: both; }
  .statistics__interactive .one-fourth {
    width: 22.2222222222%;
    float: left;
    margin-left: 3.7037037037%; }
  .statistics__interactive .one-fourth:first-child {
    width: 22.2222222222%;
    float: left;
    margin-left: 0; }
  .sidebar {
    width: 22.2222222222%;
    float: left;
    margin-left: 0; }
  .component {
    width: 74.0740740741%;
    float: left;
    margin-left: 3.7037037037%; }
  .component.files,
  .component.found,
  .component.statistics,
  .component.forms {
    width: 100%;
    float: left;
    margin-left: 0; }
  .component.questions.categories {
    width: 100%;
    float: left;
    margin-left: 0; }
  .footer__districts {
    width: 39.5061728395%;
    float: left;
    margin-left: 3.7037037037%; }
  .footer__news {
    width: 56.7901234568%;
    float: left;
    margin-left: 0; }
  .traffic__text {
    width: 56.7901234568%;
    float: left;
    margin-left: 0; }
  .traffic__sidebar {
    width: 39.5061728395%;
    float: left;
    margin-left: 3.7037037037%; }
  .copyright--left {
    width: 56.7901234568%;
    float: left;
    margin-left: 0; }
  .copyright--right {
    width: 39.5061728395%;
    float: left;
    margin-left: 3.7037037037%; }
  .quicklinks__item {
    width: 48.1481481481%;
    float: left;
    margin-left: 3.7037037037%; }
  .quicklinks__item:first-child, .quicklinks__item:nth-child(3) {
    width: 48.1481481481%;
    float: left;
    margin-left: 0; }
  .quicklinks__item.one-third {
    width: 30.8641975309%;
    float: left;
    margin-left: 3.7037037037%; }
  .quicklinks__item.one-third:first-child {
    width: 30.8641975309%;
    float: left;
    margin-left: 0; }
  .homepage__sticky {
    width: 70.5263157895%;
    float: left;
    margin-left: 0; }
  .homepage__contact {
    width: 26.3157894737%;
    float: left;
    margin-left: 3.1578947368%; }
  .exception__message {
    width: 56.7901234568%;
    float: left;
    margin-left: 0; }
  .exception__image {
    width: 39.5061728395%;
    float: left;
    margin-left: 3.7037037037%; }
  .gallery .gallery__item {
    width: 30.8641975309%;
    float: left; }
    .gallery .gallery__item:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .gallery .gallery__item:nth-child(3n + 2) {
      margin-left: 34.5679012346%;
      margin-right: -100%;
      clear: none; }
    .gallery .gallery__item:nth-child(3n + 3) {
      margin-left: 69.1358024691%;
      margin-right: -100%;
      clear: none; }
  .intro .intro__news__item {
    width: 30.8641975309%;
    float: left; }
    .intro .intro__news__item:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .intro .intro__news__item:nth-child(3n + 2) {
      margin-left: 34.5679012346%;
      margin-right: -100%;
      clear: none; }
    .intro .intro__news__item:nth-child(3n + 3) {
      margin-left: 69.1358024691%;
      margin-right: -100%;
      clear: none; }
    .intro .intro__news__item img {
      width: 100%;
      float: left;
      margin-left: 0; }
    .intro .intro__news__item .card__metadata {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
  .intro .intro__search--inner {
    width: 65.4320987654%;
    float: left;
    margin-left: 0; }
  .intro .external__item {
    width: 48.1481481481%;
    float: left; }
    .intro .external__item:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .intro .external__item:nth-child(2n + 2) {
      margin-left: 51.8518518519%;
      margin-right: -100%;
      clear: none; }
  .intro .intro__wanted--missing {
    width: 48.1481481481%;
    float: left;
    margin-left: 0; }
  .intro .intro__wanted--wanted {
    width: 48.1481481481%;
    float: left;
    margin-left: 3.7037037037%; } }

@media screen and (min-width: 960px) {
  .homepage__sticky .media {
    width: 48.1481481481%;
    float: left;
    margin-left: 3.7037037037%; }
    .homepage__sticky .media:first-child {
      width: 48.1481481481%;
      float: left;
      margin-left: 0; }
  .organization {
    width: 22.2222222222%;
    float: left;
    margin-left: 0; }
  .navigation {
    width: 74.0740740741%;
    float: left;
    margin-left: 3.7037037037%; }
  .districts__officers {
    width: 39.5061728395%;
    float: left;
    margin-left: 0; }
  .districts__contact {
    width: 56.7901234568%;
    float: left;
    margin-left: 3.7037037037%; }
  .quicklinks__item {
    width: 22.2222222222%;
    float: left;
    margin-left: 3.7037037037%; }
  .quicklinks__item:nth-child(3) {
    width: 22.2222222222%;
    float: left;
    margin-left: 3.7037037037%; }
  .quicklinks__item:first-child {
    width: 22.2222222222%;
    float: left;
    margin-left: 0; }
  .quicklinks__item.one-third:nth-child(3) {
    width: 30.8641975309%;
    float: left;
    margin-left: 3.7037037037%; }
  .gallery .gallery__item {
    width: 22.2222222222%;
    float: left; }
    .gallery .gallery__item:nth-child(4n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .gallery .gallery__item:nth-child(4n + 2) {
      margin-left: 25.9259259259%;
      margin-right: -100%;
      clear: none; }
    .gallery .gallery__item:nth-child(4n + 3) {
      margin-left: 51.8518518519%;
      margin-right: -100%;
      clear: none; }
    .gallery .gallery__item:nth-child(4n + 4) {
      margin-left: 77.7777777778%;
      margin-right: -100%;
      clear: none; }
  .found .cards .card {
    width: 22.2222222222%;
    float: left; }
    .found .cards .card:nth-child(4n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .found .cards .card:nth-child(4n + 2) {
      margin-left: 25.9259259259%;
      margin-right: -100%;
      clear: none; }
    .found .cards .card:nth-child(4n + 3) {
      margin-left: 51.8518518519%;
      margin-right: -100%;
      clear: none; }
    .found .cards .card:nth-child(4n + 4) {
      margin-left: 77.7777777778%;
      margin-right: -100%;
      clear: none; }
  .wanted .cards .card--horizontal {
    width: 48.1481481481%;
    float: left; }
    .wanted .cards .card--horizontal:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .wanted .cards .card--horizontal:nth-child(2n + 2) {
      margin-left: 51.8518518519%;
      margin-right: -100%;
      clear: none; } }
