/**
 * represents 399px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 400px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 599px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 600px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 767px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 768px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1023px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1024px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1199px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1200px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1439px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1440px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1599px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1600px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * The base font size for your project
 *
 * @group setup
 */
/**
 * A standard 1.5em baseline
 *
 * @group setup
 */
/**
 * A standard 1.5em spacing
 *
 * @group setup
 */
/**
 * Mixin for setting columns with vendor prefixes
 *
 * @param {number} $count - The amount of columns
 *
 * @group Basics
 */
/**
 * Mixin for setting clearfix to an element
 *
 * @group Basics
 */
/**
 * Hacky CSS to set inline-block and zoom to IE7
 *
 * @group Basics
 */
/**
 * Set outlines for focus on an element
 *
 * @group Basics
 */
/**
 * Set border-radius to element including vendor prefixes
 *
 * @param {string} $radius - desired border-radius (shorthand)
 *
 * @group Basics
 */
/**
 * Set box-sizing to element including vendor prefixes
 *
 * @param {string} $boxmodel - desired box-model (shorthand)
 *
 * @group Basics
 */
/**
 * Set box-shadow to element including vendor prefixes
 *
 * @param {string} $shadow - desired box-shadow (shorthand)
 *
 * @group Basics
 */
/**
 * Set transition to element including vendor prefixes
 *
 * @param {string} $transition - desired transition (shorthand)
 *
 * @group Basics
 */
/**
 * Set transition-delay to element including vendor prefixes
 *
 * @param {string} $transition-delay - desired transition-delay either in s or ms
 *
 * @example
 * transition-delay(.2s);
 *
 * @example
 * transition-delay(.50ms);
 *
 * @group Basics
 */
/**
 * Set transition-duration to element including vendor prefixes
 *
 * @param {string} $transition-duration - desired transition-duration either in s or ms
 *
 * @example
 * transition-duration(.2s);
 *
 * @example
 * transition-duration(.50ms);
 *
 * @group Basics
 */
/**
 * Set opacity with IE filter
 *
 * @param {number} $opacity - between 0 and 1
 *
 * @example
 * opacity(.2);
 *
 * @group Basics
 */
/**
 * Set font-size, font-weight and line-height in one go
 *
 * @param {string} $size ($base-font-size) - font-size
 * @param {string} $weight (normal) - font-weight
 * @param {string} $lineHeight ($baseLineHeight) - line-height
 *
 * @example
 * font-shorthand(1em, 600, 1.5em);
 *
 * @group Basics
 */
/**
 * Set input[placeholder] color with vendor prefixes
 *
 * @param {string} $color (#999) - The font color
 *
 * @group Basics
 */
/**
 * Visually hide elements while still preserving screen reader visibility
 *
 * @group Basics
 */
/**
 * Visually show elements when they have a visually-hidden style
 *
 * @group Basics
 */
/**
 * Set form styling
 *
 * @param {string} $text-color (#555) - The font color
 * @param {string} $border-color (#ccc) - The border color
 * @param {string} $background-color (#f5f5f5) - The background color
 *
 * @group Basics
 */
/**
 * Reset properties of an element
 *
 * @param {string} $margin (true) - Set to false if you want to exclude
 * @param {string} $padding (true) - Set to false if you want to exclude
 * @param {string} $list-style (true) - Set to false if you want to exclude
 * @param {string} $border (true) - Set to false if you want to exclude
 * @param {string} $background (true) - Set to false if you want to exclude
 *
 * @example scss
 * reset($padding: false);
 * // Will not set padding to 0
 *
 * @example scss
 * reset($padding: false, $background: false);
 * // Will not set padding to '0'
 * // Will not set background to 'none'
 *
 * @group Reset
 */
/**
 * mixin you can extend on for clearfixing elements
 *
 * @group Mixins
 */
/**
 * Returns "@content" in either a media querie or regular
 * based on if $fix-mqs is set and to what number
 *
 * @param {string} $width - The width unit for single media queries
 * @param {string} $type (min) - Either "min", "max" or "range"
 * @param {string} $width--max (false) - The max width when using the "range" type
 *
 * @example scss
 * breakpoint(600px) { ... }
 * // will return @media screen and (min-width: 600px) { ... }
 *
 * @example scss
 * breakpoint(800px, max) { ... }
 * // will return @media screen and (max-width: 800px) { ... }
 *
 * @example scss
 * breakpoint(600px, range, 800px) { @content }
 * // will return @media screen and (min-width: 600px) and (max-width: 800px) { ... }
 *
 * @group Breakpoint
 */
/**
 * Returns "@content" based on if $fix-mqs is set and to what number
 *
 * @example scss
 * old-ie { ... }
 *
 * @group Breakpoint
 */
/**
 * Media object
 *
 * @group molecules
 */
.media .media__visual {
  float: left;
  margin-right: 1em; }
  .media .media__visual--right {
    float: right;
    margin-right: 0;
    margin-left: 1em; }
  .media .media__visual img {
    display: block; }
.media_responsive .media__visual, .media_responsive .media__visual--right {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: center; }
  .media_responsive .media__visual img, .media_responsive .media__visual--right img {
    display: inline-block; }
@media screen and (min-width: 25em) {
  .media_responsive .media__visual {
    float: left;
    margin-right: 1em; }
    .media_responsive .media__visual--right {
      float: right;
      margin-right: 0;
      margin-left: 1em; }
    .media_responsive .media__visual img {
      display: block; }
 }

.media__body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }

/**
 * Set box-sizing: border-box to * element (all elements) when included to the project
 *
 * @group setup
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.js-enabled:not(.no-responsive-menu) .closed {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important; }

.sticky {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important; }

.bodyoverflowhidden {
  position: relative !important;
  overflow: hidden !important; }

.menuoverflowauto {
  max-height: 100% !important;
  width: 100% !important;
  overflow: auto !important; }

.absolutemenu {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 9; }

.focused {
  overflow: visible !important; }

/* Extend the accessible hide class to the closed class */
/* Only when JS is enabled since we add the closed class in the markup */
/* And we want the menu to be open when JS is disabled/broken */
/* hide the buttons when closed so they wont show up in tabindex */
button.closed {
  display: none; }

/* The menu itself */
.navigation_container li {
  position: relative;
  /* initially hide all li>ul so we get a small list when JS is disabled */
  /* And show them on active/current items */ }
  .navigation_container li ul {
    display: none; }
  .navigation_container li.active > ul, .navigation_container li.current > ul {
    display: block; }
.navigation_container.initiated li ul {
  display: block; }
.navigation_container ul.closed, .navigation_container ul.fullmenu {
  /* Hide li ul when JS is enabled and screen is big */
  /* And show on hover */ }
  .navigation_container ul.closed li, .navigation_container ul.fullmenu li {
    overflow: hidden; }
  .navigation_container ul.closed li ul, .navigation_container ul.fullmenu li ul {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 9;
    /* Position li>li>ul */ }
    .navigation_container ul.closed li ul li ul, .navigation_container ul.fullmenu li ul li ul {
      left: 100%;
      top: 0; }
  .navigation_container ul.closed li:hover, .navigation_container ul.closed li:focus, .navigation_container ul.fullmenu li:hover, .navigation_container ul.fullmenu li:focus {
    overflow: visible; }

@media screen and (min-width: 600px) {
  .gallery .gallery__item {
    width: 48.1481481481%;
    float: left;
    
    
    
     }
    .gallery .gallery__item:nth-child(2n+1) {
      
      
      margin-left: 0;
      margin-right: -100%;
      
      
      clear: both;
      margin-left: 0; }
    .gallery .gallery__item:nth-child(2n+2) {
      
      
      margin-left: 51.8518518519%;
      margin-right: -100%;
      
      
      clear: none; }
 }

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; }
    .container:after {
      content: " ";
      display: block;
      clear: both; }

  .sidebar {
    
    
    
    width: 22.2222222222%;
    float: left;
    margin-left: 0;
    
    
     }

  .component {
    
    
    
    width: 74.0740740741%;
    float: left;
    margin-left: 3.7037037037%;
    
    
     }

  .component.files {
    
    
    
    width: 100%;
    float: left;
    margin-left: 0;
    
    
     }

  .component.questions.categories {
    
    
    
    width: 100%;
    float: left;
    margin-left: 0;
    
    
     }

  .footer__districts {
    
    
    
    width: 39.5061728395%;
    float: left;
    margin-left: 3.7037037037%;
    
    
     }

  .footer__news {
    
    
    
    width: 56.7901234568%;
    float: left;
    margin-left: 0;
    
    
     }

  .traffic__text {
    
    
    
    width: 56.7901234568%;
    float: left;
    margin-left: 0;
    
    
     }

  .traffic__sidebar {
    
    
    
    width: 39.5061728395%;
    float: left;
    margin-left: 3.7037037037%;
    
    
     }

  .copyright--left {
    
    
    
    width: 39.5061728395%;
    float: left;
    margin-left: 0;
    
    
     }

  .copyright--right {
    
    
    
    width: 56.7901234568%;
    float: left;
    margin-left: 3.7037037037%;
    
    
     }

  .quicklinks__item {
    
    
    
    width: 48.1481481481%;
    float: left;
    margin-left: 3.7037037037%;
    
    
     }

  .quicklinks__item:first-child, .quicklinks__item:nth-child(3) {
    
    
    
    width: 48.1481481481%;
    float: left;
    margin-left: 0;
    
    
     }

  .quicklinks__item.one-third {
    
    
    
    width: 30.8641975309%;
    float: left;
    margin-left: 3.7037037037%;
    
    
     }

  .quicklinks__item.one-third:first-child {
    
    
    
    width: 30.8641975309%;
    float: left;
    margin-left: 0;
    
    
     }

  .homepage__sticky {
    
    
    
    width: 70.5263157895%;
    float: left;
    margin-left: 0;
    
    
     }

  .homepage__contact {
    
    
    
    width: 26.3157894737%;
    float: left;
    margin-left: 3.1578947368%;
    
    
     }

  .districts__officers {
    
    
    
    width: 39.5061728395%;
    float: left;
    margin-left: 0;
    
    
     }

  .districts__contact {
    
    
    
    width: 56.7901234568%;
    float: left;
    margin-left: 3.7037037037%;
    
    
     }

  .exception__message {
    
    
    
    width: 56.7901234568%;
    float: left;
    margin-left: 0;
    
    
     }

  .exception__image {
    
    
    
    width: 39.5061728395%;
    float: left;
    margin-left: 3.7037037037%;
    
    
     }

  .gallery .gallery__item {
    width: 30.8641975309%;
    float: left;
    
    
    
     }
    .gallery .gallery__item:nth-child(3n+1) {
      
      
      margin-left: 0;
      margin-right: -100%;
      
      
      clear: both;
      margin-left: 0; }
    .gallery .gallery__item:nth-child(3n+2) {
      
      
      margin-left: 34.5679012346%;
      margin-right: -100%;
      
      
      clear: none; }
    .gallery .gallery__item:nth-child(3n+3) {
      
      
      margin-left: 69.1358024691%;
      margin-right: -100%;
      
      
      clear: none; }
 }

@media screen and (min-width: 960px) {
  .homepage__sticky .media {
    
    
    
    width: 48.1481481481%;
    float: left;
    margin-left: 3.7037037037%;
    
    
     }
    .homepage__sticky .media:first-child {
      
      
      
      width: 48.1481481481%;
      float: left;
      margin-left: 0;
      
      
       }

  .organization {
    
    
    
    width: 22.2222222222%;
    float: left;
    margin-left: 0;
    
    
     }

  .navigation {
    
    
    
    width: 74.0740740741%;
    float: left;
    margin-left: 3.7037037037%;
    
    
     }

  .quicklinks__item {
    
    
    
    width: 22.2222222222%;
    float: left;
    margin-left: 3.7037037037%;
    
    
     }

  .quicklinks__item:nth-child(3) {
    
    
    
    width: 22.2222222222%;
    float: left;
    margin-left: 3.7037037037%;
    
    
     }

  .quicklinks__item:first-child {
    
    
    
    width: 22.2222222222%;
    float: left;
    margin-left: 0;
    
    
     }

  .quicklinks__item.one-third:nth-child(3) {
    
    
    
    width: 30.8641975309%;
    float: left;
    margin-left: 3.7037037037%;
    
    
     }

  .gallery .gallery__item {
    width: 22.2222222222%;
    float: left;
    
    
    
     }
    .gallery .gallery__item:nth-child(4n+1) {
      
      
      margin-left: 0;
      margin-right: -100%;
      
      
      clear: both;
      margin-left: 0; }
    .gallery .gallery__item:nth-child(4n+2) {
      
      
      margin-left: 25.9259259259%;
      margin-right: -100%;
      
      
      clear: none; }
    .gallery .gallery__item:nth-child(4n+3) {
      
      
      margin-left: 51.8518518519%;
      margin-right: -100%;
      
      
      clear: none; }
    .gallery .gallery__item:nth-child(4n+4) {
      
      
      margin-left: 77.7777777778%;
      margin-right: -100%;
      
      
      clear: none; }
 }
