/**
 * Mixin for setting columns with vendor prefixes
 *
 * @param {number} $count - The amount of columns
 *
 * @group Basics
 */
/**
 * Mixin for setting clearfix to an element
 *
 * @group Basics
 */
/**
 * Hacky CSS to set inline-block and zoom to IE7
 *
 * @group Basics
 */
/**
 * Set outlines for focus on an element
 *
 * @group Basics
 */
/**
 * Set border-radius to element including vendor prefixes
 *
 * @param {string} $radius - desired border-radius (shorthand)
 *
 * @group Basics
 */
/**
 * Set box-sizing to element including vendor prefixes
 *
 * @param {string} $boxmodel - desired box-model (shorthand)
 *
 * @group Basics
 */
/**
 * Set box-shadow to element including vendor prefixes
 *
 * @param {string} $shadow - desired box-shadow (shorthand)
 *
 * @group Basics
 */
/**
 * Set transition to element including vendor prefixes
 *
 * @param {string} $transition - desired transition (shorthand)
 *
 * @group Basics
 */
/**
 * Set transition-delay to element including vendor prefixes
 *
 * @param {string} $transition-delay - desired transition-delay either in s or ms
 *
 * @example
 * transition-delay(.2s);
 *
 * @example
 * transition-delay(.50ms);
 *
 * @group Basics
 */
/**
 * Set transition-duration to element including vendor prefixes
 *
 * @param {string} $transition-duration - desired transition-duration either in s or ms
 *
 * @example
 * transition-duration(.2s);
 *
 * @example
 * transition-duration(.50ms);
 *
 * @group Basics
 */
/**
 * Set opacity with IE filter
 *
 * @param {number} $opacity - between 0 and 1
 *
 * @example
 * opacity(.2);
 *
 * @group Basics
 */
/**
 * Set font-size, font-weight and line-height in one go
 *
 * @param {string} $size ($base-font-size) - font-size
 * @param {string} $weight (normal) - font-weight
 * @param {string} $lineHeight ($baseLineHeight) - line-height
 *
 * @example
 * font-shorthand(1em, 600, 1.5em);
 *
 * @group Basics
 */
/**
 * Set input[placeholder] color with vendor prefixes
 *
 * @param {string} $color (#999) - The font color
 *
 * @group Basics
 */
/**
 * Visually hide elements while still preserving screen reader visibility
 *
 * @group Basics
 */
/**
 * Visually show elements when they have a visually-hidden style
 *
 * @group Basics
 */
/**
 * Set form styling
 *
 * @param {string} $text-color (#555) - The font color
 * @param {string} $border-color (#ccc) - The border color
 * @param {string} $background-color (#f5f5f5) - The background color
 *
 * @group Basics
 */
#wrap, #splash, #intro {
  width: 600px;
  margin: 0 auto; }

#splash, #intro {
  display: block;
  height: auto; }

form {
  margin: 0; }

#wrap, #intro {
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro; }

* html .navbar__logo {
  padding-top: 10px; }

.article__thumbnail {
  float: right;
  width: 200px;
  height: 150px;
  margin: 0 0 1.5em 1.5em; }
  .article__thumbnail img {
    width: 100%;
    height: 100%; }

.article__thumbnail--wanted {
  height: 250px; }

.homepage__sticky .media__object img, .footer__news .media__object img {
  width: 100%;
  height: 100%; }

.card {
  text-align: left; }
  .card .card__box {
    width: 558px;
    *display: inline;
    zoom: 1; }
  .card .card__image {
    float: left;
    width: 112px; }
    .card .card__image img {
      width: 112px;
      height: 84px; }
  .card .card__image--wanted img {
    width: 112px;
    height: 140px; }
  .card .card__metadata {
    float: left;
    width: 418px; }

.button--hamburger {
  display: none; }

.navbar ul li {
  float: left; }
.navbar ul li a {
  text-align: center;
  border: 0 none;
  font-weight: normal;
  padding: 10px 20px; }

.js-enabled .navbar {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  overflow: auto;
  clip: auto;
  position: static; }

.container.container__footer_menu li {
  float: left; }
.container.container__footer_menu .nav--social li {
  float: left;
  width: auto; }

#splash .nav--horizontal li, #intro .nav--horizontal li {
  display: inline-block; }

.search-box__input {
  width: 534px; }

.well .search-box__input {
  width: 494px; }
