$old-ie: true;
$fix-mqs: 998px;
@import 'default';

#wrap {
    min-width: 800px;
}

.container__header {
  .nav li {
    display: block;
    float: left;
    width: 130px;
  }
}

.container__footer {
  input {
    width: 188px;
  }
}

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 { float:left; margin-left: $gutter-width; display:inline; }