@import "../components/illusion/sass/illusion/mixins/basics";
@import "utilities/_variables";

body {
  width: $breakpoint-beta;
  margin: 0 auto;
}

form {
  margin: 0;
}

#wrap {
  border-left: 1px solid darken($grayLighter, 7%);
  border-right: 1px solid darken($grayLighter, 7%);
}

.form__left {
  input {
    width: 95%; // IE6
  }
}

// IE6 and below
* html .navbar__logo {
  padding-top: 10px; // IE6
}

// Right alignment of the thumbnail, on mobile it is on top
.article__thumbnail {
  float: right;
  width: 200px;
  height: 150px;
  margin: 0 0 $line-height $line-height;

  img {
    width: 100%; // IE6
    height: 100%; // IE6
  }
}

.homepage__sticky,
.footer__news {
  .media__object {
    img {
      width: 100%; // IE6
      height: 100%; // IE6
    }
  }
}

.button--hamburger {
  display: none;
}

// Horizontal align the footer menu items
.navbar {
  ul li {
    float: left;
  }
  ul li a {
    text-align: center;
    border: 0 none;
    font-weight: normal;
    padding: 10px 20px;
  }
}

// Always show the navbar
.js-enabled .navbar {
  @include visually-shown;
}

// Horizontal align the footer menu items
.container.container__footer_menu {
  li {
    float: left;
  }

  .nav--social {
    li {
      float: left;
      width: auto;
    }
  }
}

#splash {
  display: block;
  height: auto;
  width: $breakpoint-beta;
  margin: 0 auto;
}

#splash .nav--horizontal {
  li {
    display: inline-block;
  }
}