@import "utilities/variables";

$old-ie: true;
$fix-mqs: $breakpoint-delta;
@import 'default';

#wrap {
  width: 942px;
}

.container__header {
  .nav li {
    display: block;
    float: left;
    width: 130px;
  }
}

.container__footer {
  input {
    width: 188px;
  }
}