@import "../components/illusion/sass/illusion/mixins/breakpoint";
@import "utilities/variables";

ul {
  &.column--double,
  &.column--triple,
  &.column--quad {
    li {
      float: left;
      width: 50%;
    }
  }
}

@include breakpoint($breakpoint-charlie) {
  ul {
    &.column--triple {
      li {
        float: left;
        width: 33%;
      }
    }
    &.column--quad {
      li {
        float: left;
        width: 25%;
      }
    }
  }
}