/* line 1, styleguide.scss */
.styleguide-element {
  /*
   * Bootstrap variables
   */
  @font-face {
    font-family: 'fontawesome';
    src: url("../fonts/fontawesome.eot");
    src: url("../fonts/fontawesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.ttf") format("truetype"), url("../fonts/fontawesome.svg#fontawesome") format("svg");
    font-weight: normal;
    font-style: normal;
}

  /* Use the following CSS code if you want to use data attributes for inserting your icons */
  /* Use the following CSS code if you want to have a class per icon */
  /*
  Instead of a list of all class selectors,
  you can use the generic selector below, but it's slower:
  [class*="icon-"] {
  */
  /* Print stub */
}
/* line 18, utilities/_reset.scss */
.styleguide-element article,
.styleguide-element aside,
.styleguide-element details,
.styleguide-element figcaption,
.styleguide-element figure,
.styleguide-element footer,
.styleguide-element header,
.styleguide-element hgroup,
.styleguide-element nav,
.styleguide-element section {
  display: block;
}
/* line 27, utilities/_reset.scss */
.styleguide-element audio,
.styleguide-element canvas,
.styleguide-element video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* line 36, utilities/_reset.scss */
.styleguide-element audio:not([controls]) {
  display: none;
}
/* line 43, utilities/_reset.scss */
.styleguide-element html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* line 50, utilities/_reset.scss */
.styleguide-element a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 56, utilities/_reset.scss */
.styleguide-element a:hover,
.styleguide-element a:active {
  outline: 0;
}
/* line 64, utilities/_reset.scss */
.styleguide-element sub,
.styleguide-element sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
/* line 71, utilities/_reset.scss */
.styleguide-element sup {
  top: -0.5em;
}
/* line 75, utilities/_reset.scss */
.styleguide-element sub {
  bottom: -0.25em;
}
/* line 82, utilities/_reset.scss */
.styleguide-element img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 95, utilities/_reset.scss */
.styleguide-element #map_canvas img,
.styleguide-element .google-maps img {
  max-width: none;
}
/* line 106, utilities/_reset.scss */
.styleguide-element button,
.styleguide-element input,
.styleguide-element select,
.styleguide-element textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
/* line 113, utilities/_reset.scss */
.styleguide-element button,
.styleguide-element input {
  *overflow: visible;
  line-height: normal;
}
/* line 119, utilities/_reset.scss */
.styleguide-element button::-moz-focus-inner,
.styleguide-element input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* line 128, utilities/_reset.scss */
.styleguide-element button,
.styleguide-element html input[type="button"],
.styleguide-element input[type="reset"],
.styleguide-element input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
/* line 140, utilities/_reset.scss */
.styleguide-element label,
.styleguide-element select,
.styleguide-element button,
.styleguide-element input[type="button"],
.styleguide-element input[type="reset"],
.styleguide-element input[type="submit"],
.styleguide-element input[type="radio"],
.styleguide-element input[type="checkbox"] {
  cursor: pointer;
}
/* line 144, utilities/_reset.scss */
.styleguide-element input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
/* line 151, utilities/_reset.scss */
.styleguide-element input[type="search"]::-webkit-search-decoration,
.styleguide-element input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/* line 155, utilities/_reset.scss */
.styleguide-element textarea {
  overflow: auto;
  vertical-align: top;
}
@media print {
  /* line 1, styleguide.scss */
  .styleguide-element {
    @page {
      margin: 0.5cm;
}

  }
  /* line 166, utilities/_reset.scss */
  .styleguide-element * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  /* line 174, utilities/_reset.scss */
  .styleguide-element a,
  .styleguide-element a:visited {
    text-decoration: underline;
  }
  /* line 178, utilities/_reset.scss */
  .styleguide-element a[href]:after {
    content: " (" attr(href) ")";
  }
  /* line 182, utilities/_reset.scss */
  .styleguide-element abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /* line 189, utilities/_reset.scss */
  .styleguide-element .ir a:after,
  .styleguide-element a[href^="javascript:"]:after,
  .styleguide-element a[href^="#"]:after {
    content: "";
  }
  /* line 194, utilities/_reset.scss */
  .styleguide-element pre,
  .styleguide-element blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /* line 199, utilities/_reset.scss */
  .styleguide-element thead {
    display: table-header-group;
  }
  /* line 204, utilities/_reset.scss */
  .styleguide-element tr,
  .styleguide-element img {
    page-break-inside: avoid;
  }
  /* line 208, utilities/_reset.scss */
  .styleguide-element img {
    max-width: 100% !important;
  }
  /* line 218, utilities/_reset.scss */
  .styleguide-element p,
  .styleguide-element h2,
  .styleguide-element h3 {
    orphans: 3;
    widows: 3;
  }
  /* line 224, utilities/_reset.scss */
  .styleguide-element h2,
  .styleguide-element h3 {
    page-break-after: avoid;
  }
}
/* line 10, organisms/_containers.scss */
.styleguide-element .container__header .row-fluid .span3,
.styleguide-element .container__header .slogan,
.styleguide-element .container__breadcrumb,
.styleguide-element .container__banner,
.styleguide-element .container__footer,
.styleguide-element .container__quicklinks,
.styleguide-element .container__content .sidebar,
.styleguide-element .container__copyright .copyright,
.styleguide-element .is-hidden,
.styleguide-element .hidden-phone {
  display: none;
}
/* line 14, organisms/_containers.scss */
.styleguide-element .container__content {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 19, organisms/_containers.scss */
.styleguide-element .container__header {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
/* line 26, organisms/_containers.scss */
.styleguide-element .container__content {
  padding-top: 37.5px;
  padding-bottom: 25px;
}
/* line 31, organisms/_containers.scss */
.styleguide-element .container__content.police .contact__inner {
  margin-left: 0;
  border: 0 none;
  padding: 0;
}
/* line 36, organisms/_containers.scss */
.styleguide-element .container__content.police .contact__inner a {
  text-decoration: none;
}
/* line 41, organisms/_containers.scss */
.styleguide-element .container__content.police article {
  border: 0 none !important;
  padding-bottom: 0 !important;
}
/* line 48, organisms/_containers.scss */
.styleguide-element .container__copyright {
  padding: 3px 20px;
  text-align: center;
  border-top: 1px solid gainsboro;
  font-size: 12.75px;
}
/* line 54, organisms/_containers.scss */
.styleguide-element .container__copyright a {
  text-decoration: none;
}
/* line 60, organisms/_containers.scss */
.styleguide-element .container__footer .button {
  float: right;
}
/* line 1, organisms/_wrap.scss */
.styleguide-element #wrap {
  background-color: white;
  max-width: 940px;
  margin: 0 auto;
}
/* line 7, organisms/_wrap.scss */
.styleguide-element #copyright {
  max-width: 940px;
  margin: 0 auto;
}
/* line 2, utilities/_clearfix.scss */
.styleguide-element .clearfix, .styleguide-element .article, .styleguide-element form, .styleguide-element .navbar__handlebar {
  *zoom: 1;
}
/* line 13, utilities/_mixins.scss */
.styleguide-element .clearfix:before, .styleguide-element .article:before, .styleguide-element form:before, .styleguide-element .navbar__handlebar:before, .styleguide-element .clearfix:after, .styleguide-element .article:after, .styleguide-element form:after, .styleguide-element .navbar__handlebar:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 20, utilities/_mixins.scss */
.styleguide-element .clearfix:after, .styleguide-element .article:after, .styleguide-element form:after, .styleguide-element .navbar__handlebar:after {
  clear: both;
}
@media screen and (min-width: 767px) {
  /* line 2, utilities/_desktop.scss */
  .styleguide-element #wrap {
    border-bottom: 1px solid gainsboro;
  }
  /* line 7, utilities/_desktop.scss */
  .styleguide-element .navbar__handlebar,
  .styleguide-element .visible-phone {
    display: none;
  }
  /* line 18, utilities/_desktop.scss */
  .styleguide-element .container__header .is-hidden,
  .styleguide-element .container__breadcrumb,
  .styleguide-element .container__banner,
  .styleguide-element .container__footer,
  .styleguide-element .container__quicklinks,
  .styleguide-element .container__content .sidebar,
  .styleguide-element .container__copyright .copyright,
  .styleguide-element .hidden-phone {
    display: block;
  }
  /* line 26, utilities/_desktop.scss */
  .styleguide-element .container__header,
  .styleguide-element .container__banner,
  .styleguide-element .container__breadcrumb,
  .styleguide-element .container__content,
  .styleguide-element .container__footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 32, utilities/_desktop.scss */
  .styleguide-element .container__header .logo {
    text-align: center;
  }
  /* line 38, utilities/_desktop.scss */
  .styleguide-element .container__content.police .contact__inner {
    border-left: 1px solid #eeeeee;
    padding-left: 18px;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  /* line 45, utilities/_desktop.scss */
  .styleguide-element .container__content.police .contact__inner ul {
    margin-bottom: 0;
  }
  /* line 49, utilities/_desktop.scss */
  .styleguide-element .container__content.police .contact__inner .well {
    margin-bottom: 10px;
  }
  /* line 55, utilities/_desktop.scss */
  .styleguide-element .container__header {
    width: auto;
  }
  /* line 60, utilities/_desktop.scss */
  .styleguide-element .container__content .sidebar {
    margin-top: 20px;
  }
  /* line 63, utilities/_desktop.scss */
  .styleguide-element .container__content .sidebar .sidebar__element {
    margin-bottom: 40px;
  }
  /* line 69, utilities/_desktop.scss */
  .styleguide-element .container__quicklinks {
    border-top: 1px solid #eeeeee;
    padding-top: 1.5em;
    margin-top: 1.5em;
  }
  /* line 75, utilities/_desktop.scss */
  .styleguide-element .container__footer {
    padding-top: 1.5em;
    background-color: #f8f8f8;
    border-top: 1px solid gainsboro;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }
  /* line 84, utilities/_desktop.scss */
  .styleguide-element .container__copyright {
    text-align: left;
    border-top: 0 none;
  }
  /* line 87, utilities/_desktop.scss */
  .styleguide-element .container__copyright .copyright--right {
    text-align: right;
  }
}
@media screen and (min-width: 998px) {
  /* line 94, utilities/_desktop.scss */
  .styleguide-element #wrap {
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }
  /* line 101, utilities/_desktop.scss */
  .styleguide-element .container__header .logo {
    text-align: left;
  }
}
/* line 10, utilities/_icomoon.scss */
.styleguide-element [data-icon]:before {
  font-family: 'fontawesome';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* line 27, utilities/_icomoon.scss */
.styleguide-element .icon-road, .styleguide-element .icon-key, .styleguide-element .icon-search, .styleguide-element .icon-file-alt, .styleguide-element .icon-twitter, .styleguide-element .icon-facebook, .styleguide-element .icon-file, .styleguide-element .icon-folder-close, .styleguide-element .icon-folder-open, .styleguide-element .icon-question {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* line 38, utilities/_icomoon.scss */
.styleguide-element .icon-road:before {
  content: "\e003";
}
/* line 42, utilities/_icomoon.scss */
.styleguide-element .icon-key:before {
  content: "\e002";
}
/* line 46, utilities/_icomoon.scss */
.styleguide-element .icon-search:before {
  content: "\f002";
}
/* line 50, utilities/_icomoon.scss */
.styleguide-element .icon-file-alt:before {
  content: "\f0f6";
}
/* line 54, utilities/_icomoon.scss */
.styleguide-element .icon-twitter:before {
  content: "\e000";
}
/* line 58, utilities/_icomoon.scss */
.styleguide-element .icon-facebook:before {
  content: "\e001";
}
/* line 62, utilities/_icomoon.scss */
.styleguide-element .icon-file:before {
  content: "\f15b";
}
/* line 66, utilities/_icomoon.scss */
.styleguide-element .icon-folder-close:before {
  content: "\1f4c1";
}
/* line 70, utilities/_icomoon.scss */
.styleguide-element .icon-folder-open:before {
  content: "\1f4c2";
}
/* line 74, utilities/_icomoon.scss */
.styleguide-element .icon-question:before {
  content: "\f128";
}
/* line 1, utilities/_select2.scss */
.styleguide-element .bigdrop {
  width: 100%;
}
/* line 5, utilities/_select2.scss */
.styleguide-element .select2-container .select2-choice {
  height: 30px !important;
  line-height: 30px !important;
}
/* line 10, utilities/_select2.scss */
.styleguide-element .select2-default {
  color: #555555 !important;
}
/* line 1, utilities/_system.scss */
.styleguide-element .backtrace {
  text-align: center;
  margin: 3em 0;
}
@media screen and (min-width: 767px) {
  /* line 4, utilities/_grid.scss */
  .styleguide-element .container {
    *zoom: 1;
    max-width: 81em;
    _width: 81em;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .styleguide-element .container:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 9, utilities/_grid.scss */
  .styleguide-element .sidebar {
    width: 22.22222%;
    float: left;
    margin-right: 3.7037%;
    display: inline;
  }
  /* line 12, utilities/_grid.scss */
  .styleguide-element .component {
    width: 74.07407%;
    float: right;
    margin-right: 0;
    *margin-left: -3em;
    display: inline;
  }
  /* line 15, utilities/_grid.scss */
  .styleguide-element .footer__news {
    width: 56.79012%;
    float: left;
    margin-right: 3.7037%;
    display: inline;
  }
  /* line 18, utilities/_grid.scss */
  .styleguide-element .footer__districts {
    width: 39.50617%;
    float: right;
    margin-right: 0;
    *margin-left: -3em;
    display: inline;
  }
  /* line 21, utilities/_grid.scss */
  .styleguide-element .copyright--left {
    width: 48.14815%;
    float: left;
    margin-right: 3.7037%;
    display: inline;
  }
  /* line 24, utilities/_grid.scss */
  .styleguide-element .copyright--right {
    width: 48.14815%;
    float: right;
    margin-right: 0;
    *margin-left: -3em;
    display: inline;
  }
  /* line 28, utilities/_grid.scss */
  .styleguide-element .quicklink__item_1, .styleguide-element .quicklink__item_3 {
    width: 48.14815%;
    float: left;
    margin-right: 3.7037%;
    display: inline;
  }
  /* line 31, utilities/_grid.scss */
  .styleguide-element .quicklink__item_2, .styleguide-element .quicklink__item_4 {
    width: 48.14815%;
    float: right;
    margin-right: 0;
    *margin-left: -3em;
    display: inline;
  }
  /* line 35, utilities/_grid.scss */
  .styleguide-element .homepage__sticky {
    width: 65.4321%;
    float: left;
    margin-right: 3.7037%;
    display: inline;
  }
  /* line 38, utilities/_grid.scss */
  .styleguide-element .homepage__contact {
    width: 30.8642%;
    float: right;
    margin-right: 0;
    *margin-left: -3em;
    display: inline;
  }
  /* line 42, utilities/_grid.scss */
  .styleguide-element .districts__officer {
    width: 39.50617%;
    float: left;
    margin-right: 3.7037%;
    display: inline;
  }
  /* line 46, utilities/_grid.scss */
  .styleguide-element .districts__contact {
    width: 56.79012%;
    float: right;
    margin-right: 0;
    *margin-left: -3em;
    display: inline;
  }
  /* line 50, utilities/_grid.scss */
  .styleguide-element .exception__message {
    width: 56.79012%;
    float: left;
    margin-right: 3.7037%;
    display: inline;
  }
  /* line 54, utilities/_grid.scss */
  .styleguide-element .exception__image {
    width: 39.50617%;
    float: right;
    margin-right: 0;
    *margin-left: -3em;
    display: inline;
  }
  /* line 58, utilities/_grid.scss */
  .styleguide-element .gallery .gallery__item {
    width: 22.22222%;
    float: left;
    margin-right: 3.7037%;
    display: inline;
  }
  /* line 62, utilities/_grid.scss */
  .styleguide-element .gallery .gallery__item:nth-child(3) {
    width: 22.22222%;
    float: right;
    margin-right: 0;
    *margin-left: -3em;
    display: inline;
  }
}
@media screen and (min-width: 998px) {
  /* line 68, utilities/_grid.scss */
  .styleguide-element .logo {
    width: 22.22222%;
    float: left;
    margin-right: 3.7037%;
    display: inline;
  }
  /* line 71, utilities/_grid.scss */
  .styleguide-element .navigation {
    width: 74.07407%;
    float: right;
    margin-right: 0;
    *margin-left: -3em;
    display: inline;
  }
  /* line 75, utilities/_grid.scss */
  .styleguide-element .quicklink__item_1, .styleguide-element .quicklink__item_2, .styleguide-element .quicklink__item_3 {
    width: 22.22222%;
    float: left;
    margin-right: 3.7037%;
    display: inline;
  }
  /* line 78, utilities/_grid.scss */
  .styleguide-element .quicklink__item_4 {
    width: 22.22222%;
    float: right;
    margin-right: 0;
    *margin-left: -3em;
    display: inline;
  }
}
/* line 1, atoms/_address.scss */
.styleguide-element address {
  font-style: normal;
}
/* line 8, atoms/_type.scss */
.styleguide-element p {
  margin: 0 0 1.5em 0;
}
/* line 15, atoms/_type.scss */
.styleguide-element small {
  font-size: 12.75px;
}
/* line 19, atoms/_type.scss */
.styleguide-element strong {
  font-weight: bold;
}
/* line 23, atoms/_type.scss */
.styleguide-element em {
  font-style: italic;
}
/* line 27, atoms/_type.scss */
.styleguide-element cite {
  font-style: normal;
}
/* line 32, atoms/_type.scss */
.styleguide-element .muted, .styleguide-element .article__header .timestamp, .styleguide-element .text--small {
  color: #505050;
}
/* line 36, atoms/_type.scss */
.styleguide-element .text-center {
  text-align: center;
}
/* line 44, atoms/_type.scss */
.styleguide-element ul, .styleguide-element ol {
  padding: 0;
  margin: 0 0 1.5em 2em;
}
/* line 52, atoms/_type.scss */
.styleguide-element ul ul,
.styleguide-element ul ol,
.styleguide-element ol ol,
.styleguide-element ol ul {
  margin-bottom: 0;
}
/* line 60, atoms/_type.scss */
.styleguide-element hr {
  margin: 1.5em 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white;
}
/* line 1, atoms/_body.scss */
.styleguide-element body {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #222222;
  background-color: #eeeeee;
  margin: 0;
}
/* line 1, atoms/_figure.scss */
.styleguide-element figure {
  margin: 0;
}
/* line 4, atoms/_headings.scss */
.styleguide-element h1, .styleguide-element h2, .styleguide-element h3, .styleguide-element h4, .styleguide-element h5, .styleguide-element h6 {
  margin: 0 0 0.75em 0;
  line-height: 1.25em;
  font-family: inherit;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}
/* line 11, atoms/_headings.scss */
.styleguide-element h1 small, .styleguide-element h2 small, .styleguide-element h3 small, .styleguide-element h4 small, .styleguide-element h5 small, .styleguide-element h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
/* line 16, atoms/_headings.scss */
.styleguide-element h1 a, .styleguide-element h2 a, .styleguide-element h3 a, .styleguide-element h4 a, .styleguide-element h5 a, .styleguide-element h6 a {
  text-decoration: none;
}
/* line 21, atoms/_headings.scss */
.styleguide-element h1 {
  font-size: 1.666666667em;
}
/* line 25, atoms/_headings.scss */
.styleguide-element h2 {
  font-size: 1.5em;
}
/* line 29, atoms/_headings.scss */
.styleguide-element h3 {
  font-size: 1.25em;
}
/* line 1, atoms/_html.scss */
.styleguide-element html {
  font-size: 15px;
}
/* line 1, atoms/_a.scss */
.styleguide-element a {
  color: #004d9f;
  text-decoration: underline;
}
/* line 7, atoms/_a.scss */
.styleguide-element a:hover,
.styleguide-element a:focus {
  color: #002852;
  text-decoration: underline;
}
/* line 4, atoms/_ul.scss */
.styleguide-element ul.column--double, .styleguide-element ul.column--triple, .styleguide-element ul.column--quad {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
@media screen and (min-width: 767px) {
  /* line 11, atoms/_ul.scss */
  .styleguide-element ul.column--double {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  /* line 14, atoms/_ul.scss */
  .styleguide-element ul.column--triple {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  /* line 17, atoms/_ul.scss */
  .styleguide-element ul.column--quad {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
/* line 1, molecules/_article.scss */
.styleguide-element .article {
  margin-bottom: 3em;
}
/* line 5, molecules/_article.scss */
.styleguide-element .article p img[align="right"] {
  margin: 0 0 1.5em 1.5em;
}
/* line 10, molecules/_article.scss */
.styleguide-element .article__header {
  margin-bottom: 0.65em;
}
/* line 13, molecules/_article.scss */
.styleguide-element .article__header h1 {
  margin-bottom: 0;
}
/* line 17, molecules/_article.scss */
.styleguide-element .article__header .timestamp {
  padding-top: 4px;
  font-size: 0.85em;
}
/* line 24, molecules/_article.scss */
.styleguide-element .article__introtext {
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* line 29, molecules/_article.scss */
.styleguide-element .article__thumbnail {
  float: right;
  max-width: 40%;
  margin: 0 0 1.5em 1.5em;
}
/* line 1, molecules/_banner.scss */
.styleguide-element .container__banner img {
  border: 1px solid #505050;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 1, molecules/_breadcrumbs.scss */
.styleguide-element .breadcrumb {
  font-size: 0.85em;
  line-height: 2.5em;
  padding: 0 1em;
  margin: 0.25em 0 0 0;
  list-style: none;
  background-color: #f8f8f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 9, molecules/_breadcrumbs.scss */
.styleguide-element .breadcrumb > li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  text-shadow: 0 1px 0 white;
}
/* line 13, molecules/_breadcrumbs.scss */
.styleguide-element .breadcrumb > li > .divider {
  color: #ccc;
}
/* line 17, molecules/_breadcrumbs.scss */
.styleguide-element .breadcrumb .active {
  color: #999999;
}
/* line 21, molecules/_breadcrumbs.scss */
.styleguide-element .breadcrumb li::first-letter {
  text-transform: uppercase;
}
/* line 5, molecules/button/_button.scss */
.styleguide-element .button {
  padding: 4px 12px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: white;
}
/* line 16, molecules/button/_button.scss */
.styleguide-element .button:hover, .styleguide-element .button:focus, .styleguide-element .button:active, .styleguide-element .button.active, .styleguide-element .button.disabled, .styleguide-element .button[disabled], .styleguide-element .button.pseudo-class-hover, .styleguide-element .button.pseudo-class-active {
  background-color: #eeeeee;
  border-color: #b3b3b3;
}
/* line 24, molecules/button/_button.scss */
.styleguide-element .button:hover, .styleguide-element .button.pseudo-class-hover, .styleguide-element .button:focus, .styleguide-element .button:active, .styleguide-element .button.pseudo-class-active {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
/* line 34, molecules/button/_button.scss */
.styleguide-element .button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 41, molecules/button/_button.scss */
.styleguide-element .button.disabled, .styleguide-element .button[disabled], .styleguide-element .button.pseudo-class-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 53, molecules/button/_button.scss */
.styleguide-element button.button,
.styleguide-element input[type="submit"].button {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
/* line 56, molecules/button/_button.scss */
.styleguide-element button.button::-moz-focus-inner,
.styleguide-element input[type="submit"].button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* line 2, molecules/button/_button--large.scss */
.styleguide-element .button--large {
  padding: 11px 19px;
  font-size: 18.75px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
/* line 7, molecules/button/_button--link.scss */
.styleguide-element .button--link,
.styleguide-element .button--link:active,
.styleguide-element .button--link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 12, molecules/button/_button--link.scss */
.styleguide-element .button--link {
  border-color: transparent;
  cursor: pointer;
  color: #004d9f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 19, molecules/button/_button--link.scss */
.styleguide-element .button--link:hover,
.styleguide-element .button--link:focus {
  color: #002852;
  text-decoration: underline;
  background-color: transparent;
}
/* line 25, molecules/button/_button--link.scss */
.styleguide-element .button--link[disabled]:hover,
.styleguide-element .button--link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}
/* line 1, molecules/button/_button--primary.scss */
.styleguide-element .button--primary {
  border: 1px solid #002d5d;
  background-color: #0054ae;
  color: white;
}
/* line 7, molecules/button/_button--primary.scss */
.styleguide-element .button--primary:hover, .styleguide-element .button--primary:focus, .styleguide-element .button--primary:active, .styleguide-element .button--primary.active, .styleguide-element .button--primary.disabled, .styleguide-element .button--primary[disabled], .styleguide-element .button--primary.pseudo-class-hover, .styleguide-element .button--primary.pseudo-class-active {
  color: white;
  background-color: #006bdc;
  border-color: #002d5d;
}
/* line 13, molecules/_forms.scss */
.styleguide-element fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
/* line 20, molecules/_forms.scss */
.styleguide-element legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.5em;
  font-size: 1.5em;
  line-height: 3em;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
/* line 32, molecules/_forms.scss */
.styleguide-element legend small {
  font-size: 11.25px;
  color: #999999;
}
/* line 43, molecules/_forms.scss */
.styleguide-element label,
.styleguide-element input,
.styleguide-element button,
.styleguide-element select,
.styleguide-element textarea {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5em;
}
/* line 50, molecules/_forms.scss */
.styleguide-element input,
.styleguide-element button,
.styleguide-element select,
.styleguide-element textarea {
  font-family: Helvetica, sans-serif;
}
/* line 55, molecules/_forms.scss */
.styleguide-element label {
  display: block;
  margin-bottom: 5px;
}
/* line 66, molecules/_forms.scss */
.styleguide-element select,
.styleguide-element textarea,
.styleguide-element input {
  display: inline-block;
  height: 2.25em;
  padding: 0 6px;
  line-height: 2.25em;
  color: #505050;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
/* line 80, molecules/_forms.scss */
.styleguide-element input,
.styleguide-element textarea {
  width: 100%;
}
/* line 85, molecules/_forms.scss */
.styleguide-element textarea {
  height: auto;
}
/* line 92, molecules/_forms.scss */
.styleguide-element textarea,
.styleguide-element input[type="text"],
.styleguide-element input[type="search"] {
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-appearance: none;
}
/* line 100, molecules/_forms.scss */
.styleguide-element textarea:focus,
.styleguide-element input[type="text"]:focus,
.styleguide-element input[type="search"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 100, utilities/_mixins.scss */
.styleguide-element input:-moz-placeholder,
.styleguide-element textarea:-moz-placeholder {
  color: #999999;
}
/* line 103, utilities/_mixins.scss */
.styleguide-element input:-ms-input-placeholder,
.styleguide-element textarea:-ms-input-placeholder {
  color: #999999;
}
/* line 106, utilities/_mixins.scss */
.styleguide-element input::-webkit-input-placeholder,
.styleguide-element textarea::-webkit-input-placeholder {
  color: #999999;
}
/* line 117, molecules/_forms.scss */
.styleguide-element .placeholder {
  color: #999999;
}
/* line 128, molecules/_forms.scss */
.styleguide-element input:focus:invalid,
.styleguide-element textarea:focus:invalid,
.styleguide-element select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
/* line 131, molecules/_forms.scss */
.styleguide-element input:focus:invalid:focus,
.styleguide-element textarea:focus:invalid:focus,
.styleguide-element select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
/* line 143, molecules/_forms.scss */
.styleguide-element .control-group {
  margin-bottom: 0.75em;
}
/* line 147, molecules/_forms.scss */
.styleguide-element .form__left {
  margin-right: 8em;
}
/* line 151, molecules/_forms.scss */
.styleguide-element .form__right {
  width: 7em;
  float: right;
}
/* line 154, molecules/_forms.scss */
.styleguide-element .form__right .button {
  width: 100%;
}
/* line 5, molecules/_gallery.scss */
.styleguide-element .gallery {
  margin-left: 0;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
}
/* line 11, molecules/_gallery.scss */
.styleguide-element .gallery > li {
  margin-bottom: 1.5em;
  margin-left: 0;
}
/* line 2, molecules/_header.scss */
.styleguide-element .container__header .logo {
  display: none;
}
@media screen and (min-width: 767px) {
  /* line 8, molecules/_header.scss */
  .styleguide-element .container__header {
    position: relative;
    margin-bottom: 20px;
  }
  /* line 12, molecules/_header.scss */
  .styleguide-element .container__header .text--strong {
    font-size: 18.75px;
  }
  /* line 16, molecules/_header.scss */
  .styleguide-element .container__header .logo {
    padding-top: 26px;
    text-decoration: none;
    color: #004d9f;
    display: block;
  }
  /* line 22, molecules/_header.scss */
  .styleguide-element .container__header .logo a {
    text-decoration: none;
  }
  /* line 26, molecules/_header.scss */
  .styleguide-element .container__header .logo a:hover {
    text-decoration: underline;
  }
  /* line 30, molecules/_header.scss */
  .styleguide-element .container__header .logo img {
    width: 160px;
    vertical-align: bottom;
    margin-left: 10px;
  }
  /* line 36, molecules/_header.scss */
  .styleguide-element .container__header .logo div {
    margin-left: 57px;
    margin-top: 3px;
  }
  /* line 42, molecules/_header.scss */
  .styleguide-element .container__header .slogan {
    margin: 25px 0 10px;
    display: block;
    text-align: center;
  }
  /* line 47, molecules/_header.scss */
  .styleguide-element .container__header .slogan a {
    text-decoration: none;
  }
}
@media (max-width: 766px) {
  /* line 58, molecules/_header.scss */
  .styleguide-element .js-enabled .container__header {
    position: fixed;
  }
  /* line 62, molecules/_header.scss */
  .styleguide-element .js-enabled .container__content {
    padding-top: 5.5em;
  }
}
/* line 5, molecules/_header__navbar.scss */
.styleguide-element .navbar {
  min-height: 1.25em;
  width: 100%;
  background-color: #0054ae;
  overflow: hidden;
  *zoom: 1;
  color: white;
}
/* line 16, molecules/_header__navbar.scss */
.styleguide-element .navbar .nav {
  margin: 0;
  text-align: left;
  width: 100%;
}
/* line 23, molecules/_header__navbar.scss */
.styleguide-element .navbar .nav li a {
  color: white;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #004d9f;
  padding: 13px 20px;
  font-weight: bold;
  color: white;
}
/* line 35, molecules/_header__navbar.scss */
.styleguide-element .navbar .nav li a:focus,
.styleguide-element .navbar .nav li a:hover {
  background-color: #006bdc;
  color: white;
  text-decoration: none;
}
/* line 44, molecules/_header__navbar.scss */
.styleguide-element .navbar .nav .active a,
.styleguide-element .navbar .nav .active a:hover,
.styleguide-element .navbar .nav .active a:focus {
  color: white;
  text-decoration: none;
  background-color: #004185;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  font-weight: bold;
}
/* line 52, molecules/_header__navbar.scss */
.styleguide-element .navbar__handlebar {
  line-height: 50px;
  border-bottom: 1px solid #004d9f;
}
/* line 57, molecules/_header__navbar.scss */
.styleguide-element .navbar__handlebar .navbar__logo {
  float: right;
  padding-right: 20px;
  color: white;
  zoom: 1;
}
/* line 64, molecules/_header__navbar.scss */
.styleguide-element .navbar__handlebar .navbar__logo:hover {
  color: white;
}
/* line 68, molecules/_header__navbar.scss */
.styleguide-element .navbar__handlebar .navbar__logo img {
  margin-right: 6px;
  margin-right: 0.4rem;
}
/* line 73, molecules/_header__navbar.scss */
.styleguide-element .navbar__handlebar .navbar__handle {
  cursor: pointer;
  float: left;
  padding: 0 15px;
  height: 50px;
  font-size: 2em;
  color: white;
  text-align: center;
  border-right: 1px solid #004d9f;
}
/* line 86, molecules/_header__navbar.scss */
.styleguide-element .js-enabled {
  /* Don't use display: none to hide elements to keep thing accessible */
  /* Don't use display: none to hide elements to keep thing accessible */
}
/* line 89, molecules/_header__navbar.scss */
.styleguide-element .js-enabled .navbar .nav {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
/* line 99, molecules/_header__navbar.scss */
.styleguide-element .js-enabled .navbar .nav.is-shown {
  position: static;
  overflow: auto;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  border: none;
}
@media screen and (min-width: 767px) {
  /* line 1, styleguide.scss */
  .styleguide-element {
    /* Don't use display: none to hide elements to keep thing accessible */
  }
  /* line 109, molecules/_header__navbar.scss */
  .styleguide-element .navbar {
    border-bottom: 0 none;
    border: 1px solid #002d5d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  /* line 116, molecules/_header__navbar.scss */
  .styleguide-element .js-enabled .navbar .nav {
    position: static;
    overflow: auto;
    clip: auto;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  /* line 124, molecules/_header__navbar.scss */
  .styleguide-element .navbar {
    /* Customize the navbar links to be fill the entire space of the .navbar */
  }
  /* line 126, molecules/_header__navbar.scss */
  .styleguide-element .navbar .nav {
    display: table;
  }
  /* line 129, molecules/_header__navbar.scss */
  .styleguide-element .navbar .nav li {
    display: table-cell;
    width: 1%;
  }
  /* line 133, molecules/_header__navbar.scss */
  .styleguide-element .navbar .nav li a {
    text-align: center;
    padding: 5px 15px 5px;
    border: 0 none;
    font-weight: normal;
  }
  /* line 139, molecules/_header__navbar.scss */
  .styleguide-element .navbar .nav li:first-child a {
    border-left: 0;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  /* line 143, molecules/_header__navbar.scss */
  .styleguide-element .navbar .nav li:last-child a {
    border-right: 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }
}
/* line 4, molecules/_media.scss */
.styleguide-element .media {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1em;
}
/* line 9, molecules/_media.scss */
.styleguide-element .media__heading {
  margin: 0 0 5px;
}
/* line 13, molecules/_media.scss */
.styleguide-element .media__object {
  margin-right: 1em;
  float: left;
  display: block;
  width: 64px;
}
/* line 8, molecules/nav/_nav.scss */
.styleguide-element .nav {
  margin-left: 0;
  margin-bottom: 1.5em;
  list-style: none;
}
/* line 14, molecules/nav/_nav.scss */
.styleguide-element .nav > li > a {
  display: block;
  text-decoration: none;
}
/* line 20, molecules/nav/_nav.scss */
.styleguide-element .nav > li > a:hover,
.styleguide-element .nav > li > a:focus {
  text-decoration: none;
  background-color: #ebf3f4;
}
/* line 26, molecules/nav/_nav.scss */
.styleguide-element .nav--visited a:visited {
  color: #609;
}
/* line 35, molecules/nav/_nav.scss */
.styleguide-element .nav--list,
.styleguide-element .nav--pills {
  overflow: hidden;
  *zoom: 1;
}
/* line 39, molecules/nav/_nav.scss */
.styleguide-element .nav--list > li > a,
.styleguide-element .nav--list > li > a,
.styleguide-element .nav--pills > li > a,
.styleguide-element .nav--pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
}
/* line 5, molecules/nav/_nav--list.scss */
.styleguide-element .nav--list > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eeeeee;
}
/* line 11, molecules/nav/_nav--list.scss */
.styleguide-element .nav--list > li:last-child > a {
  border-bottom: 0 none;
}
/* line 18, molecules/nav/_nav--list.scss */
.styleguide-element .nav--list > .active > a,
.styleguide-element .nav--list > .active > a:hover,
.styleguide-element .nav--list > .active > a:focus {
  color: #505050;
  background-color: #ebf3f4;
  font-weight: bold;
}
/* line 6, molecules/nav/_nav--pills.scss */
.styleguide-element .nav--pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 17, molecules/nav/_nav--pills.scss */
.styleguide-element .nav--pills > .active > a,
.styleguide-element .nav--pills > .active > a:hover,
.styleguide-element .nav--pills > .active > a:focus {
  color: white;
  background-color: #004d9f;
}
/* line 6, molecules/_pagination.scss */
.styleguide-element .pagination {
  margin: 1.5em 0 0 0;
}
/* line 10, molecules/_pagination.scss */
.styleguide-element .pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  width: 100%;
}
/* line 20, molecules/_pagination.scss */
.styleguide-element .pagination ul > li {
  display: inline;
}
/* line 25, molecules/_pagination.scss */
.styleguide-element .pagination ul > li > a,
.styleguide-element .pagination ul > li > span {
  float: left;
  padding: 0.3em 1em;
  text-decoration: none;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 34, molecules/_pagination.scss */
.styleguide-element .pagination ul > li > a:hover,
.styleguide-element .pagination ul > li > a:focus {
  background-color: #ebf3f4;
}
/* line 41, molecules/_pagination.scss */
.styleguide-element .pagination ul > .active > a,
.styleguide-element .pagination ul > .active > span,
.styleguide-element .pagination ul > .active > a:hover,
.styleguide-element .pagination ul > .active > a:focus {
  color: #999999;
  cursor: default;
  background-color: white;
}
/* line 50, molecules/_pagination.scss */
.styleguide-element .pagination ul > .disabled > span,
.styleguide-element .pagination ul > .disabled > a,
.styleguide-element .pagination ul > .disabled > a:hover,
.styleguide-element .pagination ul > .disabled > a:focus {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
/* line 57, molecules/_pagination.scss */
.styleguide-element .pagination .pagination__previous {
  float: left;
}
/* line 61, molecules/_pagination.scss */
.styleguide-element .pagination .pagination__next {
  float: right;
}
/* line 65, molecules/_pagination.scss */
.styleguide-element .pagination .pagination__offset {
  display: none;
}
@media screen and (min-width: 767px) {
  /* line 71, molecules/_pagination.scss */
  .styleguide-element .pagination {
    text-align: center;
  }
  /* line 74, molecules/_pagination.scss */
  .styleguide-element .pagination ul {
    width: auto;
    border: 1px solid #dddddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  /* line 80, molecules/_pagination.scss */
  .styleguide-element .pagination ul > li > a {
    border: 0 none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-right: 1px solid #dddddd;
  }
  /* line 86, molecules/_pagination.scss */
  .styleguide-element .pagination ul > li:first-child a {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
  }
  /* line 90, molecules/_pagination.scss */
  .styleguide-element .pagination ul > li:last-child a {
    border-right: 0 none;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
  }
  /* line 96, molecules/_pagination.scss */
  .styleguide-element .pagination .pagination__next,
  .styleguide-element .pagination .pagination__previous {
    float: none;
  }
  /* line 100, molecules/_pagination.scss */
  .styleguide-element .pagination .pagination__offset {
    display: inline;
  }
}
/* line 1, molecules/table/_table.scss */
.styleguide-element table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #eeeeee;
  width: 100% !important;
}
/* line 7, molecules/table/_table.scss */
.styleguide-element table th, .styleguide-element table td {
  padding: 0.75em;
}
/* line 12, molecules/table/_table.scss */
.styleguide-element .table {
  max-width: 100%;
  width: 100%;
  border: 0 none;
  /* Hide table headers */
}
/* line 17, molecules/table/_table.scss */
.styleguide-element .table td {
  border: none;
}
/* line 21, molecules/table/_table.scss */
.styleguide-element .table td:nth-child(n+2) {
  display: none;
}
/* line 26, molecules/table/_table.scss */
.styleguide-element .table thead tr {
  display: none;
}
@media screen and (min-width: 767px) {
  /* line 32, molecules/table/_table.scss */
  .styleguide-element .table {
    background-color: transparent;
    margin-bottom: 1.5em;
    border: 0 none;
  }
  /* line 38, molecules/table/_table.scss */
  .styleguide-element .table th,
  .styleguide-element .table td {
    display: table-cell !important;
    line-height: 1.5em;
    text-align: left;
    vertical-align: top;
  }
  /* line 45, molecules/table/_table.scss */
  .styleguide-element .table th {
    font-weight: bold;
  }
  /* line 49, molecules/table/_table.scss */
  .styleguide-element .table thead tr {
    display: table-row;
  }
  /* line 53, molecules/table/_table.scss */
  .styleguide-element .table thead th {
    vertical-align: bottom;
  }
  /* line 58, molecules/table/_table.scss */
  .styleguide-element .table thead tr th,
  .styleguide-element .table thead tr td {
    border-top: 0;
  }
}
/* line 4, molecules/table/_table--striped.scss */
.styleguide-element .table--striped tbody tr {
  border-top: 1px solid #dddddd;
}
/* line 8, molecules/table/_table--striped.scss */
.styleguide-element .table--striped tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}
/* line 2, molecules/_thumbnail.scss */
.styleguide-element .thumbnail, .styleguide-element .article__thumbnail {
  display: block;
  padding: 4px;
  border: 1px solid #ddd !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 11, molecules/_thumbnail.scss */
.styleguide-element .thumbnail > img, .styleguide-element .article__thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, molecules/_thumbnail.scss */
.styleguide-element .thumbnail .caption, .styleguide-element .article__thumbnail .caption {
  padding: 9px;
  color: #505050;
}
/* line 26, molecules/_thumbnail.scss */
.styleguide-element a.thumbnail:hover, .styleguide-element a.article__thumbnail:hover,
.styleguide-element a.thumbnail:focus,
.styleguide-element a.article__thumbnail:focus {
  border-color: #004d9f !important;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
/* line 1, molecules/_typography.scss */
.styleguide-element .nowrap {
  white-space: nowrap;
}
/* line 5, molecules/_typography.scss */
.styleguide-element .highlight {
  background-color: yellow;
}
/* line 9, molecules/_typography.scss */
.styleguide-element .text--strong {
  color: #004d9f;
  font-weight: bold;
}
/* line 14, molecules/_typography.scss */
.styleguide-element .text--small {
  font-size: 12.75px;
}
/* line 6, molecules/_wells.scss */
.styleguide-element .well {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 13, molecules/_wells.scss */
.styleguide-element .well ul {
  margin-bottom: 0;
}
/* line 18, molecules/_wells.scss */
.styleguide-element .well--small {
  padding: 0.75em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
@media only print {
  /* line 6, utilities/_print.scss */
  .styleguide-element .container__header .navbar,
  .styleguide-element .container__copyright,
  .styleguide-element .pagination,
  .styleguide-element .st_sharethis {
    display: none;
  }
  /* line 10, utilities/_print.scss */
  .styleguide-element .container__header .row-fluid .span3 {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
  }
  /* line 15, utilities/_print.scss */
  .styleguide-element .container__header .row-fluid .span3 .logo a:after {
    content: "";
  }
  /* line 19, utilities/_print.scss */
  .styleguide-element .container__header .row-fluid .span3 .logo div {
    padding-left: 50px;
  }
  /* line 24, utilities/_print.scss */
  .styleguide-element .article__thumbnail:after {
    content: "" !important;
  }
  /* line 28, utilities/_print.scss */
  .styleguide-element a {
    border-bottom: 0 none !important;
  }
}
