.table--openinghours {
  tr {
    padding: 0.5em 0.75em 0;
  }

  td {
    padding: 0 0 0.5em 0;
  }

  tbody td:nth-child(1) {
    font-weight: bold;
  }

  tbody td:nth-child(n+2) {
    display: block;
  }

  tfoot td {
    padding-top: $line-height;
    text-align: center;
  }
}

@include breakpoint($breakpoint-charlie) {
  .table--openinghours {
    th,
    td {
      padding: 0.5em;
    }

    tbody td:nth-child(1) {
      text-align: right;
    }
  }
}