.table--openinghours {
  tr {
    padding: 0.5em 0.75em 0;
  }

  td {
    padding: 0 0 0.5em 0;
  }

  td:nth-child(1) {
    font-weight: bold;
  }

  td:nth-child(n+2) {
    display: block;
  }
}

@include respond-min($navbarCollapseWidth) {
  .table--openinghours {
    th,
    td {
      padding: 0.5em;
    }

    td:nth-child(1) {
      text-align: right;
    }
  }
}