.table--responsive {
    tr {
        padding: 0.75em 0.75em 0.25em;
        display: block;
    }

    td {
        display: block !important;
        padding: 0 0 0.5em 0;
    }

    td:nth-child(1) {
        font-weight: bold;
    }

    /* Hide table headers */
    thead tr {
        display: none;
    }
}

@include respond-min($navbarCollapseWidth) {
    .table--responsive {
        tr {
            display: table-row;
            padding: 0;
        }

        th,
        td {
            display: table-cell !important;
            padding: 0.75em;
        }

        td:nth-child(1) {
            font-weight: normal;
        }

        th {
            font-weight: bold;
        }
        // Show thead
        thead tr {
            display: table-row;
        }
    }
}