h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
  line-height: $spacing-s;
  color: palette(blue, light);
}

h1, h2, h3 {
  margin-bottom: $spacing-xxs;
}

h4, h5, h6 {
  margin-bottom: $spacing-xs;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}